In [2]:
import time
import pandas as pd
from zomatopy import Zomato
#get_categories
#get_city_ID
#get_city_name
#get_collections
#get_cuisines
#get_establishment_types
#get_nearby_restaurants
#get_restaurant
#restaurant_search

zconfig = {"user_key":"2dde89df168a9311ecd9f1459126144c"}

## READING DATA

In [3]:
zcities_df = pd.read_pickle('../results/zcities_df.pkl')
cscities_df = pd.read_pickle('../results/cscities_df.pkl')

In [4]:
zcities_df.head()

   zcity_id                                               json      city_query
0     -9999  {'location_suggestions': [{'id': 280, 'name': ...     New York NY
1       281  {'location_suggestions': [{'id': 281, 'name': ...  Los Angeles CA
2       292  {'location_suggestions': [{'id': 292, 'name': ...      Chicago IL
3       277  {'location_suggestions': [{'id': 277, 'name': ...      Houston TX
4       301  {'location_suggestions': [{'id': 301, 'name': ...      Phoenix AZ

In [5]:
ver = zcities_df[zcities_df.zcity_id==-9999]

In [7]:
ver

,zcity_id,json,city_query
0,-9999,"{'location_suggestions': [{'id': 280, 'name': ...",New York NY
16,-9999,"{'location_suggestions': [{'id': 718, 'name': ...",Indianapolis IN
23,-9999,"{'location_suggestions': [{'id': 8182, 'name':...",Oklahoma City OK
27,-9999,"{'location_suggestions': [{'id': 484, 'name': ...",Louisville/Jefferson County KY
36,-9999,"{'location_suggestions': [{'id': 5700, 'name':...",Kansas City MO
...,...,...,...
748,-9999,"{'location_suggestions': [{'id': 1, 'name': 'D...",Kannapolis NC
749,-9999,"{'location_suggestions': [{'id': 5963, 'name':...",Methuen Town MA
751,-9999,"{'location_suggestions': [{'id': 3817, 'name':...",Plainfield NJ
757,-9999,"{'location_suggestions': [{'id': 1854, 'name':...",Coral Gables FL
760,-9999,"{'location_suggestions': [{'id': 9870, 'name':...",Troy NY

In [16]:
ver['json'][0]['location_suggestions'][0]['state_code']

'NY'

In [5]:
len(zcities_df)

764

In [ ]:
def zomato_cities_query(cscities_df, zconfig):
    zomato = Zomato(zconfig)
    
    city_queries = []
    zcity_ids = []
    jsons = []
    for i, row in cscities_df.iterrows():
        print(f"city query {row.city_query}")
        
        # Security saves of Zomato calls
        if i>0 and (i % 10 == 0):
            time.sleep(5)
            zcities_df = pd.DataFrame.from_dict({'zcity_id': zcity_ids, 'json': jsons, 
                                                 'city_query': city_queries})
            zcities_df.to_pickle('../results/zcities_df.pkl')
        
        try:
            zcity_id = zomato.get_city_ID(city_name=row.city_query)

            city_queries += [row.city_query]
            zcity_ids += [zcity_id]
            jsons += [zomato.json]
        except:
            print(f"failed city query {row.city_query}")
            pass
    
    # Final save
    zcities_df = pd.DataFrame.from_dict({'zcity_id': zcity_ids, 'json': jsons, 
                                         'city_query': city_queries})
    zcities_df.to_pickle('../results/zcities_df.pkl')
    return zcities_df

zcities_df = zomato_cities_query(cscities_df, zconfig)

In [ ]:
zcities_df = pd.read_pickle('../results/zcities_df.pkl')

In [ ]:
zcities_df.head()

In [ ]:
len(zcities_df)

In [ ]:
zcities_df