In [8]:
import time
import pandas as pd
from zomatopy import Zomato
#get_categories
#get_city_ID
#get_city_name
#get_collections
#get_cuisines
#get_establishment_types
#get_nearby_restaurants
#get_restaurant
#restaurant_search

zconfig = {"user_key":"2dde89df168a9311ecd9f1459126144c"}

## CLEANING CENSUS CITIES

In [9]:
# Reading raw census data
cscities_df = pd.read_excel('../data/census_cities.xlsx',
                                 skiprows=[0, 1, 2, 792, 793, 794, 795, 796])
cscities_df.rename(columns={'Unnamed: 0': 'Rank', 
                            'Unnamed: 1': 'Geographic Area'}, inplace=True)

# Reading state codes
state_codes = pd.read_csv('../data/state_codes.csv')

In [10]:
# Cleaning city and prepare merge for state_code
cscities_df['city']  = [city.split(', ')[0] for city in cscities_df['Geographic Area']]
cscities_df['state'] = [city.split(', ')[1] for city in cscities_df['Geographic Area']]
cscities_df = cscities_df.merge(state_codes, how='left', on='state')
assert cscities_df['state_code'].isna().sum()==0, "Check merge"

# Define Zomato city_query
cscities_df['city'] = cscities_df['city'].str.replace('city', '')
cscities_df['city'] = cscities_df['city'].str.replace('(balance)', '')
cscities_df['city'] = cscities_df['city'].str.replace('metropolitan government', '')
cscities_df['city'] = cscities_df['city'].str.replace('metro government', '')
cscities_df['city'] = cscities_df['city'].str.replace('urban county', '')
cscities_df['city'] = cscities_df['city'].str.replace('municipality', '')
cscities_df['city'] = cscities_df['city'].str.replace('consolidated government', '')
cscities_df['city'] = cscities_df['city'].str.replace('unified government', '')
cscities_df['city'] = cscities_df['city'].str.replace('(Ventura)', '')
cscities_df['city'] = cscities_df['city'].str.replace('village', '')
cscities_df['city'] = cscities_df['city'].str.replace('town', '')
cscities_df['city'] = cscities_df['city'].str.replace('(', '')
cscities_df['city'] = cscities_df['city'].str.replace(')', '')
cscities_df['city'] = cscities_df['city'].str.replace('.', '')
cscities_df['city'] = cscities_df['city'].str.replace('  ', ' ')
cscities_df['city_query'] = cscities_df['city'] + cscities_df['state_code']

# Save parsed cscities_df
cscities_df.to_pickle('../results/cscities_df.pkl')

In [11]:
cscities_df.head()

,Rank,Geographic Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,city,state,state_code,city_query
0,1,"New York city, New York",8175133,8175031,8190209,8272948,8346693,8396091,8433806,8463049,8469153,8437478,8390081,8336817,New York,New York,NY,New York NY
1,2,"Los Angeles city, California",3792621,3793139,3795512,3820876,3851202,3881622,3909901,3938568,3963226,3975788,3977596,3979576,Los Angeles,California,CA,Los Angeles CA
2,3,"Chicago city, Illinois",2695598,2695652,2697477,2708114,2719141,2725731,2727066,2724344,2716723,2711069,2701423,2693976,Chicago,Illinois,IL,Chicago IL
3,4,"Houston city, Texas",2099451,2095517,2100280,2126032,2161593,2199391,2241826,2286908,2309544,2316750,2318573,2320268,Houston,Texas,TX,Houston TX
4,5,"Phoenix city, Arizona",1445632,1446691,1449038,1469796,1499274,1526491,1555445,1583690,1612199,1633560,1654675,1680992,Phoenix,Arizona,AZ,Phoenix AZ

In [12]:
# def zomato_cities_query(cscities_df, zconfig):
#     zomato = Zomato(zconfig)
    
#     city_queries = []
#     zcity_ids = []
#     jsons = []
#     for i, row in cscities_df.iterrows():
#         print(f"city query {row.city_query}")
        
#         # Security saves of Zomato calls
#         if i>0 and (i % 10 == 0):
#             time.sleep(5)
#             zcities_df = pd.DataFrame.from_dict({'zcity_id': zcity_ids, 'json': jsons, 
#                                                  'city_query': city_queries})
#             zcities_df.to_pickle('../results/zcities_df.pkl')
        
#         try:
#             zcity_id = zomato.get_city_ID(city_name=row.city_query)

#             city_queries += [row.city_query]
#             zcity_ids += [zcity_id]
#             jsons += [zomato.json]
#         except:
#             print(f"failed city query {row.city_query}")
#             pass
    
#     # Final save
#     zcities_df = pd.DataFrame.from_dict({'zcity_id': zcity_ids, 'json': jsons, 
#                                          'city_query': city_queries})
#     zcities_df.to_pickle('../results/zcities_df.pkl')
#     return zcities_df

# zcities_df = zomato_cities_query(cscities_df, zconfig)

city query New York NY
city query Los Angeles CA
city query Chicago IL
city query Houston TX
city query Phoenix AZ
city query Philadelphia PA
city query San Antonio TX
city query San Diego CA
city query Dallas TX
city query San Jose CA
city query Austin TX
city query Jacksonville FL
city query Fort Worth TX
city query Columbus OH
city query Charlotte NC
city query San Francisco CA
city query Indianapolis IN
city query Seattle WA
city query Denver CO
city query Washington DC
city query Boston MA
city query El Paso TX
city query Nashville-Davidson TN
failed city query Nashville-Davidson TN
city query Detroit MI
city query Oklahoma City OK
city query Portland OR
city query Las Vegas NV
city query Memphis TN
city query Louisville/Jefferson County KY
city query Baltimore MD
city query Milwaukee WI
city query Albuquerque NM
city query Tucson AZ
city query Fresno CA
city query Mesa AZ
city query Sacramento CA
city query Atlanta GA
city query Kansas City MO
city query Colorado Springs CO
city query Omaha NE
city query Raleigh NC
city query Miami FL
city query Long Beach CA
city query Virginia Beach VA
city query Oakland CA
city query Minneapolis MN
city query Tulsa OK
city query Tampa FL
city query Arlington TX
city query New Orleans LA
city query Wichita KS
city query Bakersfield CA
city query Cleveland OH
city query Aurora CO
city query Anaheim CA
city query Urban Honolulu CDPHI
failed city query Urban Honolulu CDPHI
city query Santa Ana CA
city query Riverside CA
city query Corpus Christi TX
city query Lexington-Fayette KY
city query Henderson NV
city query Stockton CA
city query St Paul MN
city query Cincinnati OH
city query St Louis MO
city query Pittsburgh PA
city query Greensboro NC
city query Lincoln NE
city query Anchorage AK
city query Plano TX
city query Orlando FL
city query Irvine CA
city query Newark NJ
city query Durham NC
city query Chula Vista CA
city query Toledo OH
city query Fort Wayne IN
city query St Petersburg FL
city query Laredo TX
city query Jersey City NJ
city query Chandler AZ
city query Madison WI
city query Lubbock TX
city query Scottsdale AZ
city query Reno NV
city query Buffalo NY
city query Gilbert AZ
city query Glendale AZ
city query North Las Vegas NV
city query Winston-Salem NC
city query Chesapeake VA
city query Norfolk VA
city query Fremont CA
city query Garland TX
city query Irving TX
city query Hialeah FL
city query Richmond VA
city query Boise City ID
city query Spokane WA
city query Baton Rouge LA
city query Tacoma WA
city query San Bernardino CA
city query Modesto CA
city query Fontana CA
city query Des Moines IA
city query Moreno Valley CA
city query Santa Clarita CA
city query Fayetteville NC
city query Birmingham AL
city query Oxnard CA
city query Rochester NY
city query Port St Lucie FL
city query Grand Rapids MI
city query Huntsville AL
city query Salt Lake City UT
city query Frisco TX
city query Yonkers NY
city query Amarillo TX
city query Glendale CA
city query Huntington Beach CA
city query McKinney TX
city query Montgomery AL
city query Augusta-Richmond County GA
city query Aurora IL
city query Akron OH
city query Little Rock AR
city query Tempe AZ
city query Columbus GA
city query Overland Park KS
city query Grand Prairie TX
city query Tallahassee FL
city query Cape Coral FL
city query Mobile AL
city query Knoxville TN
city query Shreveport LA
city query Worcester MA
city query Ontario CA
city query Vancouver WA
city query Sioux Falls SD
city query Chattanooga TN
city query Brownsville TX
city query Fort Lauderdale FL
city query Providence RI
city query Newport News VA
city query Rancho Cucamonga CA
city query Santa Rosa CA
city query Peoria AZ
city query Oceanside CA
city query Elk Grove CA
city query Salem OR
city query Pembroke Pines FL
city query Eugene OR
city query Garden Grove CA
city query Cary NC
city query Fort Collins CO
city query Corona CA
city query Springfield MO
city query Jackson MS
city query Alexandria VA
city query Hayward CA
city query Clarksville TN
city query Lakewood CO
city query Lancaster CA
city query Salinas CA
city query Palmdale CA
city query Hollywood FL
city query Springfield MA
city query Macon-Bibb CountyGA
failed city query Macon-Bibb CountyGA
city query Kansas City KS
city query Sunnyvale CA
city query Pomona CA
city query Killeen TX
city query Escondido CA
city query Pasadena TX
city query Naperville IL
city query Bellevue WA
city query Joliet IL
city query Murfreesboro TN
city query Midland TX
city query Rockford IL
city query Paterson NJ
city query Savannah GA
city query Bridgeport CT
city query Torrance CA
city query McAllen TX
city query Syracuse NY
city query Surprise AZ
city query Denton TX
city query Roseville CA
city query Thornton CO
city query Miramar FL
city query Pasadena CA
city query Mesquite TX
city query Olathe KS
failed city query Olathe KS
city query Dayton OH
city query Carrollton TX
city query Waco TX
city query Orange CA
city query Fullerton CA
city query Charleston SC
city query West Valley City UT
city query Visalia CA
city query Hampton VA
city query Gainesville FL
city query Warren MI
city query Coral Springs FL
city query Cedar Rapids IA
city query Round Rock TX
city query Sterling Heights MI
city query Kent WA
city query Columbia SC
city query Santa Clara CA
city query New Haven CT
city query Stamford CT
city query Concord CA
city query Elizabeth NJ
city query Athens-Clarke County GA
city query Thousand Oaks CA
city query Lafayette LA
city query Simi Valley CA
city query Topeka KS
city query Norman OK
city query Fargo ND
city query Wilmington NC
city query Abilene TX
city query Odessa TX
city query Columbia MO
city query Pearland TX
failed city query Pearland TX
city query Victorville CA
city query Hartford CT
city query Vallejo CA
city query Allen PA
city query Berkeley CA
city query Richardson TX
city query Arvada CO
city query Ann Arbor MI
city query Rochester MN
city query Cambridge MA
city query Sugar Land TX
city query Lansing MI
city query Evansville IN
city query College Station TX
city query Fairfield CA
city query Clearwater FL
city query Beaumont TX
city query Independence MO
city query Provo UT
city query West Jordan UT
city query Murrieta CA
city query Palm Bay FL
city query El Monte CA
city query Carlsbad CA
city query North Charleston SC
city query Temecula CA
city query Clovis CA
city query Springfield IL
city query Meridian ID
city query Westminster CO
city query Costa Mesa CA
city query High Point NC
city query Manchester NH
city query Pueblo CO
city query Lakeland FL
city query Pompano Beach FL
city query West Palm Beach FL
city query Antioch CA
city query Everett WA
city query Downey CA
city query Lowell MA
city query Centennial CO
city query Elgin IL
city query Richmond CA
city query Peoria IL
city query Broken Arrow OK
city query Miami Gardens FL
city query Billings MT
city query Jurupa Valley CA
city query Sandy Springs GA
city query Gresham OR
city query Lewisville TX
city query Hillsboro OR
city query San Buenaventura CA
city query Greeley CO
city query Inglewood CA
city query Waterbury CT
city query League City TX
city query Santa Maria CA
city query Tyler TX
city query Davie FL
city query Daly City CA
city query Boulder CO
city query Allen TX
city query West Covina CA
city query Sparks NV
failed city query Sparks NV
city query Wichita Falls TX
city query Green Bay WI
city query San Mateo CA
city query Norwalk CA
city query Rialto CA
city query Las Cruces NM
city query Chico CA
city query El Cajon CA
city query Burbank CA
city query South Bend IN
city query Renton WA
city query Vista CA
city query Davenport IA
city query Edinburg TX
city query Tuscaloosa AL
city query Carmel IN
city query Spokane Valley WA
city query San Angelo TX
city query Vacaville CA
city query Bend OR
city query Kenosha WI
city query Boca Raton FL
city query Lee's Summit MO
city query Nampa ID
city query Rio Rancho NM
city query South Fulton GA
city query Roanoke VA
city query Beaverton OR
city query Yuma AZ
city query Lawrence KS
city query Orem UT
city query Longmont CO
city query San Marcos CA
city query Albany NY
city query Sandy UT
city query Concord NC
city query Federal Way WA
city query Hesperia CA
city query Brockton MA
city query Compton CA

city query Flint MI
city query Erie PA
city query New Bedford MA
city query Fishers IN
failed city query Fishers IN
city query Sunrise FL
city query Roswell GA
city query Menifee CA
city query Tracy CA
city query Plantation FL
city query Quincy MA
city query Portsmouth VA
city query Mission Viejo CA
city query Chino CA
city query Lynn MA
city query Edmond OK
city query Dearborn MI
city query Livonia MI
city query Yakima WA
city query South Gate CA
city query Greenville NC
city query Lawton OK
city query Kirkland WA
city query Asheville NC
city query Deltona FL
city query Redding CA
city query Bellingham WA
city query Suffolk VA
city query Indio CA
city query Mount Pleasant SC
city query Carson CA
city query Santa Barbara CA
city query Conroe TX
failed city query Conroe TX
city query Westminster CA
city query Santa Monica CA
city query New Braunfels TX
city query Livermore CA
city query Palm Coast FL
city query St George UT
city query Fall River MA
city query Nashua NH
city query Champaign IL
city query Miami Beach FL
city query Norwalk CT
city query San Leandro CA
city query O'Fallon MO
city query Newton MA
city query Reading PA
city query Avondale AZ
city query Fort Smith AR
city query Citrus Heights CA
city query Ogden UT
city query Fayetteville AR
city query Fort Myers FL
city query Goodyear AZ
city query Bryan TX
city query Waukegan IL
city query Hawthorne CA
city query Redwood City CA
city query Hoover AL
city query Bloomington IN
city query Duluth MN
city query Lake Forest CA
city query Hemet CA
city query Whittier CA
city query Clifton NJ
city query Largo FL
city query Bloomington MN
city query Danbury CT
city query Santa Fe NM
city query Johns Creek GA
city query Newport Beach CA
city query Kennewick WA
city query Mission TX
city query Milpitas CA
city query Troy MI
city query Chino Hills CA
city query Alhambra CA
city query Merced CA
city query Trenton NJ
city query Franklin TN
city query Medford OR
city query Melbourne FL
city query Manteca CA
city query Mountain View CA
city query Sioux City IA
city query Lynchburg VA
city query Buena Park CA
city query Pleasanton CA
city query Longview TX
city query Westland MI
city query Auburn WA
city query Cranston RI
city query Somerville MA
city query Folsom CA
city query Springdale AR
city query Deerfield Beach FL
city query Warwick RI
city query Cicero IL
city query Farmington Hills MI
city query Brooklyn Park MN
city query Lawrence MA
city query Plymouth MN
city query Buckeye AZ
city query George TX
city query Cedar Park TX
city query Tustin CA
city query Lakewood CA
city query Perris CA
city query Flower Mound TX
city query Pharr TX
failed city query Pharr TX
city query Loveland CO
city query Boynton Beach FL
city query New Rochelle NY
city query Temple TX
city query Lake Charles LA
city query Jonesboro AR
city query Napa CA
city query Parma OH
city query Layton UT
city query Alameda CA
city query Warner Robins GA
city query Rapid City SD
city query Bloomington IL
city query Gastonia NC
city query Bay TX
city query Upland CA
city query Racine WI
city query Scranton PA
city query South Jordan UT
city query Bellflower CA
city query Kalamazoo MI
city query San Ramon CA
city query Bethlehem PA
city query Wyoming MI
city query Hammond IN
city query Missoula MT
city query Missouri City TX
city query Pasco WA
city query Baldwin Park CA
city query Iowa City IA
city query Rancho Cordova CA
city query Rock Hill SC
city query Flagstaff AZ
city query Gary IN
city query St Joseph MO
city query Arlington Heights IL
city query Bolingbrook IL
city query Rochester Hills MI
city query Framingham MA
city query Union City CA
city query Appleton WI
city query Turlock CA
city query Camden NJ
city query Bismarck ND
city query Evanston IL
city query Apple Valley CA
city query Schaumburg IL
city query Woodbury MN
city query Kissimmee FL
city query Southfield MI
city query Maple Grove MN
city query Pittsburg CA
city query New Britain CT
city query Jacksonville NC
city query Mansfield TX
city query Waukesha WI
city query Frederick MD
city query Albany GA
city query Pawtucket RI
city query Redmond WA
city query Lauderhill FL
city query Lafayette IN
city query Gulfport MS
city query Redlands CA
city query Weston FL
city query St Charles MO
city query Decatur IL
city query North Port FL
city query North Richland Hills TX
city query Greenville SC
city query Bowling Green KY
city query Broomfield CO
city query Canton OH
city query Marysville WA
city query Walnut Creek CA
city query Wilmington DE
city query Camarillo CA
city query Lynwood CA
city query Lehi UT
city query Passaic NJ
city query Homestead FL
city query Delray Beach FL
city query Davis CA
city query Lake Elsinore CA
city query Daytona Beach FL
city query Dothan AL
city query Rocklin CA
city query Eau Claire WI
city query Rogers AR
city query Castle Rock CO
city query St Cloud MN
city query Bossier City LA
city query Rockville MD
city query Muncie IN
city query Gaithersburg MD
failed city query Gaithersburg MD
city query Union City NJ
city query West Des Moines IA
city query South San Francisco CA
city query Yorba Linda CA
city query Conway AR
city query Lodi CA
city query Palatine IL
city query Ankeny IA
failed city query Ankeny IA
city query Mount Vernon NY
city query Rowlett TX
city query Waterloo IA
city query Lakeville MN
city query Alpharetta GA
city query Jackson TN
city query Yuba City CA
city query Oshkosh WI
city query Victoria TX
city query Johnson City TN
city query Redondo Beach CA
city query Tamarac FL
city query Laguna Niguel CA
city query Eagan MN
failed city query Eagan MN
city query Kenner LA
city query Auburn AL
city query Ames IA
failed city query Ames IA
city query Portland ME
city query North Little Rock AR
city query Sammamish WA
city query Madera CA
city query Shawnee KS
city query Jupiter FL
city query Doral FL
city query Blaine MN
failed city query Blaine MN
city query Tulare CA
city query Youngs OH
city query Wellington FL
city query Pflugerville TX
city query Palo Alto CA
city query Schenectady NY
city query Harlingen TX
failed city query Harlingen TX
city query Bayonne NJ
city query Eden Prairie MN
city query Port Orange FL
city query Dublin CA
city query San Marcos TX
city query Noblesville IN
failed city query Noblesville IN
city query Santa Cruz CA
city query Janesville WI
city query San Clemente CA
city query Brentwood CA
city query East Orange NJ
city query Cheyenne WY
city query Eastvale CA
city query Chapel Hill NC
city query Haverhill MA
city query Lorain OH
city query Grand Junction CO
city query Springfield OR
city query Coon Rapids MN
city query Idaho Falls ID
city query North Miami FL
city query Encinitas CA
city query Skokie IL
city query Leander TX
city query Waltham MA
city query Council Bluffs IA
city query Hamilton OH
city query Moore OK
city query Pico Rivera CA
city query Montebello CA
city query Millcreek UT
city query Sanford FL
city query National City CA
city query Burnsville MN
city query Coconut Creek FL
city query Lakewood WA
city query Taylor MI
city query Novi MI
city query Marietta GA
city query Ocala FL
city query Terre Haute IN
city query Woodland CA
city query Petaluma CA
city query La Habra CA
city query Malden MA
city query Commerce City CO
city query Owensboro KY
city query Bristol CT
city query West Allis WI
city query Taylorsville UT
city query Utica NY
city query Monterey Park CA
city query Bonita Springs FL
city query Porterville CA
city query Greenwood IN
city query Bartlett TN
city query Bradenton FL
city query Vineland NJ
city query Pontiac MI
city query Meriden CT
city query Gardena CA
city query Apex NC
city query Royal Oak MI
city query Cupertino CA
city query Lancaster PA
city query La Mesa CA
city query Gilroy CA
city query St Clair Shores MI
city query Des Plaines IL
city query Springfield OH
city query Corvallis OR
city query Margate FL
city query Bowie MD
city query Casa Grande AZ
city query Caldwell ID
city query San Rafael CA
city query Great Falls MT
city query Sarasota FL
city query Richland WA
city query St Peters MO
city query Hendersonville TN
failed city query Hendersonville TN
city query White Plains NY
city query Huntersville NC
city query Santee CA
city query Kokomo IN

city query Arcadia CA
city query Casper WY
city query Dubuque IA
city query Orland Park IL
city query Weymouth Town MA
city query Parker CO
city query Palm Beach Gardens FL
city query Hanford CA
city query Huntington Park CA
city query Taunton MA
city query Midwest City OK
city query Medford MA
city query Euless TX
city query Shoreline WA
city query Smyrna GA
city query Pocatello ID
city query Valdosta GA
city query Carson CityNV
city query Lake Havasu City AZ
city query Grand Forks ND
city query Blue Springs MO
city query Southaven MS
failed city query Southaven MS
city query Tinley Park IL
city query Diamond Bar CA
city query New Brunswick NJ
city query Lenexa KS
failed city query Lenexa KS
city query Brookhaven GA
city query Novato CA
city query Tigard OR
city query Highland CA
city query Fountain Valley CA
city query Dearborn Heights MI
city query Albany OR
city query Grapevine TX
city query Apple Valley MN
city query Chicopee MA
city query Hempstead NY
city query Oak Lawn IL
city query Cathedral City CA
city query Bentonville AR
city query Stonecrest GA
city query Kettering OH
city query Colton CA
city query Anderson IN
failed city query Anderson IN
city query West Haven CT
city query Burlington NC
city query Manhattan KS
city query St Cloud FL
city query Normal IL
city query Decatur AL
city query Berwyn IL
city query Port Arthur TX
city query Kingsport TN
failed city query Kingsport TN
city query Minnetonka MN
failed city query Minnetonka MN
city query Rosemead CA
city query Paramount CA
city query Rocky Mount NC
city query Yucaipa CA
city query Watsonville CA
city query Elyria OH
city query Leesburg VA
city query Mount Prospect IL
city query Pinellas Park FL
city query Delano CA
city query Bellevue NE
city query West Sacramento CA
city query Apopka FL
city query Palm Desert CA
city query Milford CT
city query Little Elm TX
city query Revere MA
city query Peabody MA
city query Wylie TX
city query Harrisonburg VA
city query DeSoto TX
city query Pensacola FL
city query Olympia WA
city query Edina MN
city query Wheaton IL
city query West New York NJ
city query Hoboken NJ
city query Lacey WA
city query Summerville SC
city query Coeur d'Alene ID
city query Oak Park IL
city query Elkhart IN
city query Maricopa AZ
city query Kentwood MI
city query Madison AL
city query Smyrna TN
city query Glendora CA
city query Logan UT
city query Burien WA
city query Perth Amboy NJ
city query Herriman UT
city query Grand Island NE
city query Placentia CA
city query La Crosse WI
city query Battle Creek MI
city query Beaumont CA
city query Collierville TN
failed city query Collierville TN
city query West Lafayette IN
city query Florissant MO
city query Hoffman Estates IL
city query Joplin MO
city query Queen Creek AZ
city query Aliso Viejo CA
city query Kannapolis NC
city query Methuen Town MA
city query Galveston TX
city query Mishawaka IN
failed city query Mishawaka IN
city query Plainfield NJ
city query Newark OH
city query Stillwater OK
city query Twin Falls ID
city query Texas City TX
city query Cerritos CA
city query Coral Gables FL
city query Enid OK
city query Lakewood OH
city query Troy NY
city query Saginaw MI
city query Niagara Falls NY
city query Charleston WV

In [13]:
zcities_df = pd.read_pickle('../results/zcities_df.pkl')

In [14]:
print("len(zcities_df)", len(zcities_df))
zcities_df.head()

len(zcities_df) 764

   zcity_id                                               json      city_query
0     -9999  {'location_suggestions': [{'id': 280, 'name': ...     New York NY
1       281  {'location_suggestions': [{'id': 281, 'name': ...  Los Angeles CA
2       292  {'location_suggestions': [{'id': 292, 'name': ...      Chicago IL
3       277  {'location_suggestions': [{'id': 277, 'name': ...      Houston TX
4       301  {'location_suggestions': [{'id': 301, 'name': ...      Phoenix AZ

# CLEANING ZOMATO QUERIES

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from Levenshtein import distance as levenshtein_distance

In [16]:
cscities_df = pd.read_pickle('../results/cscities_df.pkl')
zcities_df = pd.read_pickle('../results/zcities_df.pkl')

# # Adding census variables to zcities_df
zcities_df = zcities_df.merge(cscities_df[['city_query', 'Census']], on='city_query', how='left')
# zcities_df.rename(columns={'city': 'city_cs', 'state_code': 'state_code_cs'}, inplace=True)
#zcities_df.iloc[zcities_df['Census']=='(X)', 'Census'] = 10000
zcities_df['Census'] = pd.to_numeric(zcities_df['Census'], errors='coerce')
print(f"Census missing cities {sum(np.isnan(zcities_df.Census))}")
print("len(cscities_df)", len(cscities_df))
print("len(zcities_df)", len(zcities_df))
zcities_df.head()

Census missing cities 7
len(cscities_df) 788
len(zcities_df) 764

,zcity_id,json,city_query,Census
0,-9999,"{'location_suggestions': [{'id': 280, 'name': ...",New York NY,8175133.0
1,281,"{'location_suggestions': [{'id': 281, 'name': ...",Los Angeles CA,3792621.0
2,292,"{'location_suggestions': [{'id': 292, 'name': ...",Chicago IL,2695598.0
3,277,"{'location_suggestions': [{'id': 277, 'name': ...",Houston TX,2099451.0
4,301,"{'location_suggestions': [{'id': 301, 'name': ...",Phoenix AZ,1445632.0

In [17]:
print(f"Census missing cities {sum(np.isnan(zcities_df.Census))}")
print("len(zcities_df)", len(zcities_df))
zcities_df.head()

Census missing cities 7
len(zcities_df) 764

,zcity_id,json,city_query,Census
0,-9999,"{'location_suggestions': [{'id': 280, 'name': ...",New York NY,8175133.0
1,281,"{'location_suggestions': [{'id': 281, 'name': ...",Los Angeles CA,3792621.0
2,292,"{'location_suggestions': [{'id': 292, 'name': ...",Chicago IL,2695598.0
3,277,"{'location_suggestions': [{'id': 277, 'name': ...",Houston TX,2099451.0
4,301,"{'location_suggestions': [{'id': 301, 'name': ...",Phoenix AZ,1445632.0

In [19]:
def clean_punctuation(my_str):
    my_str = str(my_str).lower()
    punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    for ele in my_str:  
        if ele in punc:  
            my_str = my_str.replace(ele, "")
    my_str = my_str.strip()
    return my_str

def clean_city(city):
    city = clean_punctuation(city)    
    city = city.replace('city', '')
    city = city.replace('(balance)', '')
    city = city.replace('metropolitan government', '')
    city = city.replace('metro government', '')
    city = city.replace('urban county', '')
    city = city.replace('municipality', '')
    city = city.replace('consolidated government', '')
    city = city.replace('unified government', '')
    city = city.replace('(Ventura)', '')
    city = city.replace('village', '')
    city = city.replace('town', '')
    city = city.replace('(', '')
    city = city.replace(')', '')
    city = city.replace('.', '')
    city = city.replace('  ', ' ')
    return city

# get zomato state_codes
def get_city_z(zcities_df, hit=0):
    cities = []
    state_codes = []
    zcity_ids = []
    for idx in range(len(zcities_df)):
        try:
            zcity_id = zcities_df['json'][idx]['location_suggestions'][hit]['id']
            city = zcities_df['json'][idx]['location_suggestions'][hit]['name'][:-4]
            state_code = zcities_df['json'][idx]['location_suggestions'][hit]['state_code']
        except:
            zcity_id = -9999
            city = 'NA'
            state_code = 'NA'

        state_codes.append(state_code)
        zcity_ids.append(zcity_id)
        cities.append(city)
    
    zcities_df[f'city_z{hit}'] = cities
    zcities_df[f'state_code_z{hit}'] = state_codes
    zcities_df[f'city_z{hit}'] = zcities_df[f'city_z{hit}'].apply(lambda x: clean_city(x))
    zcities_df[f'zcity_id{hit}'] = zcity_ids
    
    zcities_df[f'lev_dist{hit}'] = zcities_df.apply(lambda row: levenshtein_distance(row[f'city_z{hit}'],
                                                                                     row['city_cs']),axis=1)
    
    zcities_df[f'hit{hit}'] = ((zcities_df[f'state_code_z{hit}']==zcities_df['state_code_cs']) &\
                      (zcities_df[f'lev_dist{hit}']<=3))*1
    #zcities_df[f'hit0'].plot.hist()
    
    hit_perc = sum(zcities_df[f'hit{hit}'])/len(zcities_df[f'hit{hit}'])
    pop_perc = np.nansum(zcities_df[f'hit{hit}']*zcities_df['Census'])/np.nansum(zcities_df['Census'])
    print('Zomato Census Cities hits')
    print('Zomato Hit {} percentage: {} pop_percentage: {}'.format(hit, hit_perc, pop_perc))
    return zcities_df

zcities_df['city_cs'] = zcities_df['city_query'].apply(lambda x: str(x)[:-3])
zcities_df['state_code_cs'] = zcities_df['city_query'].apply(lambda x: str(x)[-2:])
zcities_df['city_cs'] = zcities_df['city_cs'].apply(lambda x: clean_city(x))

zcities_df = get_city_z(zcities_df, hit=0)

Zomato Census Cities hits
Zomato Hit 0 percentage: 0.4397905759162304 pop_percentage: 0.6415757882727057

In [20]:
zcities_clean_df = zcities_df[zcities_df.hit0==1].reset_index()
zcities_clean_df.head()

,index,zcity_id,json,city_query,Census,city_cs,state_code_cs,city_z0,state_code_z0,zcity_id0,lev_dist0,hit0
0,0,-9999,"{'location_suggestions': [{'id': 280, 'name': ...",New York NY,8175133.0,new york,NY,new york,NY,280,1,1
1,1,281,"{'location_suggestions': [{'id': 281, 'name': ...",Los Angeles CA,3792621.0,los angeles,CA,los angeles,CA,281,0,1
2,2,292,"{'location_suggestions': [{'id': 292, 'name': ...",Chicago IL,2695598.0,chicago,IL,chicago,IL,292,0,1
3,3,277,"{'location_suggestions': [{'id': 277, 'name': ...",Houston TX,2099451.0,houston,TX,houston,TX,277,0,1
4,4,301,"{'location_suggestions': [{'id': 301, 'name': ...",Phoenix AZ,1445632.0,phoenix,AZ,phoenix,AZ,301,0,1

In [27]:
# def zomato_cuisines_query(df, zconfig):
#     zomato = Zomato(zconfig)
    
#     zcity_ids = []
#     jsons = []
#     for i, row in df.iterrows():
#         zcity_id = row.zcity_id0
#         print(f"city: {row.city_z0} city_id: {zcity_id}")
        
#         # Security saves of Zomato calls
#         if i>0 and (i % 10 == 0):
#             time.sleep(5)
#             zcuisines_df = pd.DataFrame.from_dict({'zcity_id': zcity_ids, 'json': jsons})
#             zcuisines_df.to_pickle('../results/zcuisines_df.pkl')
        
#         try:
#             json =zomato.get_cuisines(city_ID=zcity_id)
        
#         except:
#             print(f"Failed query city: {row.city_z0} city_id: {row.zcity_id0}")
#             json = {-999: 'Missing'}
        
#         zcity_ids += [zcity_id]
#         jsons += [json]
    
#     # Final save
#     zcuisines_df = pd.DataFrame.from_dict({'zcity_id': zcity_ids, 'json': jsons})
#     zcuisines_df.to_pickle('../results/zcuisines_df.pkl')
#     #zcuisines_df.to_csv('../results/zcuisines_df.csv')
#     return zcuisines_df
        
# zcuisines_df  = zomato_cuisines_query(zcities_clean_df, zconfig)
zcuisines_df = pd.read_pickle('../results/zcuisines_df.pkl')
zcuisines_df.rename(columns={"json": "cuisine_json"}, inplace=True)
print("len(zcuisines_df)", len(zcuisines_df))
zcuisines_df.head()

len(zcuisines_df) 337

   zcity_id                                       cuisine_json
0       280  {1: 'American', 3: 'Asian', 5: 'Bakery', 6: 'A...
1       281  {1: 'American', 3: 'Asian', 5: 'Bakery', 25: '...
2       292  {1: 'American', 3: 'Asian', 5: 'Bakery', 25: '...
3       277  {1: 'American', 3: 'Asian', 5: 'Bakery', 22: '...
4       301  {1: 'American', 3: 'Asian', 5: 'Bakery', 25: '...

In [28]:
zstates_cuisines_df = zcities_clean_df.merge(zcuisines_df, 
                                             left_on='zcity_id0', right_on='zcity_id', how='left')

In [29]:
filter_columns = ['state_code_cs', 'Census', 'city_query', 'cuisine_json']
zstates_cuisines_df = zstates_cuisines_df[filter_columns]
zstates_cuisines_df.head()

,state_code_cs,Census,city_query,cuisine_json
0,NY,8175133.0,New York NY,"{1: 'American', 3: 'Asian', 5: 'Bakery', 6: 'A..."
1,CA,3792621.0,Los Angeles CA,"{1: 'American', 3: 'Asian', 5: 'Bakery', 25: '..."
2,IL,2695598.0,Chicago IL,"{1: 'American', 3: 'Asian', 5: 'Bakery', 25: '..."
3,IL,2695598.0,Chicago IL,"{1: 'American', 3: 'Asian', 5: 'Bakery', 25: '..."
4,TX,2099451.0,Houston TX,"{1: 'American', 3: 'Asian', 5: 'Bakery', 22: '..."

In [46]:
def get_top_state_cuisines_df(zstates_cuisines_df, top=10):
    grouped = zstates_cuisines_df.groupby('state_code_cs')

    # Initialize lists to parse state cuisines
    states = []
    state_cuisines = []
    queried_cities = []
    for state, group in grouped:    
        group.reset_index(inplace=True)

        # Create total cuisines list per state
        cuisines = []
        for idx in range(len(group)):
            cuisines += list(group['cuisine_json'][idx].values())

        count_cuisines = np.unique(cuisines, return_counts=True)
        
        count_cuisines_df = pd.DataFrame({'cuisine': count_cuisines[0],
                                          'count': count_cuisines[1],
                                          'percentage': count_cuisines[1]/np.sum(count_cuisines[1])})
        
        count_cuisines_df = count_cuisines_df.sort_values('count', ascending=False)
        count_cuisines_df = count_cuisines_df.head(top)

        queried_cities += [len(group)]
        state_cuisines += [count_cuisines_df]
        states += [state]

    states_df = pd.DataFrame.from_dict({'state_code': states,
                                        'queried_cities': queried_cities,
                                        'state_cuisines': state_cuisines})
    states_df.reset_index(inplace=True)
    print("len(states_df)", len(states_df))
    return states_df

top_state_cuisines_df = get_top_state_cuisines_df(zstates_cuisines_df)

len(states_df) 45

In [58]:
# Create top 10 cuisines per state csv for consumption
for state in top_state_cuisines_df.state_code[0:]:
    # state = 'AK'
    state_df = top_state_cuisines_df[top_state_cuisines_df.state_code==state]['state_cuisines']
    state_df = state_df.reset_index(drop=True)
    top_df = state_df[0]
    top_df.to_csv(f'../results/top_state_cuisines/{state}.csv')