In [1]:
import os
import json
import time
import pandas as pd
from zomatopy import Zomato
#get_categories
#get_city_ID
#get_city_name
#get_collections
#get_cuisines
#get_establishment_types
#get_nearby_restaurants
#get_restaurant
#restaurant_search

zconfig1 = {"user_key":"2dde89df168a9311ecd9f1459126144c"} # Stef
zconfig2 = {"user_key":"312a1f0d7bb1f8cbfc611842ca184e1c"} # Kin
zconfig3 = {"user_key":"508a65203e6a0e2a3f87a1720682befa"} # Nandini
zconfig4 = {"user_key":"82f088ef3f4b0e06cf38d0701f38b42f"} # Sophia

### READ DATA

In [2]:
zcities_df = pd.read_csv('../data/kin_nov2/zcities_cleaned.csv') # cleaned zomato cities
cstates_df = pd.read_csv('../data/kin_nov2/top_population_state.csv') # census top 10 migrant populations
cuisines_df = pd.read_csv('../data/kin_nov2/cuisine_ids.csv') # merged cuisines and populations

In [3]:
zcities_df.drop('Unnamed: 0', axis=1, inplace=True)
zcities_df.head(5)

   zcity_id   city_query state_code
0       276    Dallas TX         TX
1       277   Houston TX         TX
2       278    Austin TX         TX
3       279   Seattle WA         WA
4       280  New York NY         NY

In [4]:
cstates_df.head(5)

,state,state_code,population1,population2,population3,population4,population5,population6,population7,population8,population9,population10
0,ALABAMA,AL,Mexico,Guatemala,Korea,India,China,Germany,Vietnam,Philippines,Honduras,Canada
1,ALASKA,AK,Philippines,Mexico,Korea,Thailand,Canada,Russia,Germany,Dominican Republic,"Oceania, nec",Laos
2,ARIZONA,AZ,Mexico,Canada,India,Philippines,China,Vietnam,Germany,Guatemala,Korea,Iraq
3,ARKANSAS,AR,Mexico,El Salvador,India,"Oceania, nec",Guatemala,Vietnam,China,Philippines,Laos,Germany
4,CALIFORNIA,CA,Mexico,Philippines,China,Vietnam,India,El Salvador,Korea,Guatemala,Iran,Taiwan

In [5]:
cuisines_df.head(5)

  population          cuisine_names  cuisine_id
0     Mexico  Mexico, Taco, Tex-Mex  73,997,150
1     Canada                 Canada         381
2      India                  India         148
3      China         China, Sichuan      25,128
4    Vietnam                Vietnam          99

### QUERY DATAFRAME

In [6]:
query_df = zcities_df.copy()
query_df = query_df.merge(cstates_df, on='state_code', how='left')
perc = query_df.population1.isna().sum()/len(query_df)
print(f'missing state merge percentage {perc}')

missing state merge percentage 0.0

In [7]:
query_df

,zcity_id,city_query,state_code,state,population1,population2,population3,population4,population5,population6,population7,population8,population9,population10
0,276,Dallas TX,TX,TEXAS,Mexico,India,El Salvador,Vietnam,Honduras,China,Philippines,Guatemala,Nigeria,Pakistan
1,277,Houston TX,TX,TEXAS,Mexico,India,El Salvador,Vietnam,Honduras,China,Philippines,Guatemala,Nigeria,Pakistan
2,278,Austin TX,TX,TEXAS,Mexico,India,El Salvador,Vietnam,Honduras,China,Philippines,Guatemala,Nigeria,Pakistan
3,279,Seattle WA,WA,WASHINGTON,Mexico,India,Philippines,China,Vietnam,Korea,Canada,Ukraine,Russia,Germany
4,280,New York NY,NY,NEW YORK,Dominican Republic,China,Jamaica,Mexico,Ecuador,Guyana,India,Haiti,El Salvador,Colombia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,11218,Pico Rivera CA,CA,CALIFORNIA,Mexico,Philippines,China,Vietnam,India,El Salvador,Korea,Guatemala,Iran,Taiwan
397,11222,South Gate CA,CA,CALIFORNIA,Mexico,Philippines,China,Vietnam,India,El Salvador,Korea,Guatemala,Iran,Taiwan
398,11233,Downey CA,CA,CALIFORNIA,Mexico,Philippines,China,Vietnam,India,El Salvador,Korea,Guatemala,Iran,Taiwan
399,11265,Palmdale CA,CA,CALIFORNIA,Mexico,Philippines,China,Vietnam,India,El Salvador,Korea,Guatemala,Iran,Taiwan
400,11268,Montebello CA,CA,CALIFORNIA,Mexico,Philippines,China,Vietnam,India,El Salvador,Korea,Guatemala,Iran,Taiwan

In [8]:
query_df = pd.wide_to_long(query_df, stubnames='population',
                           i=['zcity_id', 'state_code'], j='top')
query_df = query_df.reset_index()
#query_df.head(11)

In [9]:
query_df = query_df.reset_index()

In [10]:
query_df = query_df.merge(cuisines_df, on='population', how='left')
perc = query_df.cuisine_id.isna().sum()/len(query_df)
print(f'missing cuisine_id percentage {perc}')
check_missings = query_df[query_df.cuisine_id.isna()].population
check_missings = check_missings.unique()
query_df

missing cuisine_id percentage 0.0

,index,zcity_id,state_code,top,city_query,state,population,cuisine_names,cuisine_id
0,0,276,TX,1,Dallas TX,TEXAS,Mexico,"Mexico, Taco, Tex-Mex","73,997,150"
1,1,276,TX,2,Dallas TX,TEXAS,India,India,148
2,2,276,TX,3,Dallas TX,TEXAS,El Salvador,El Salvador,601
3,3,276,TX,4,Dallas TX,TEXAS,Vietnam,Vietnam,99
4,4,276,TX,5,Dallas TX,TEXAS,Honduras,South America,972
...,...,...,...,...,...,...,...,...,...
4392,4005,11268,CA,6,Montebello CA,CALIFORNIA,El Salvador,El Salvador,601
4393,4006,11268,CA,7,Montebello CA,CALIFORNIA,Korea,Korea,67
4394,4007,11268,CA,8,Montebello CA,CALIFORNIA,Guatemala,Guatemala,"972,136"
4395,4008,11268,CA,9,Montebello CA,CALIFORNIA,Iran,Iran,140
4396,4009,11268,CA,10,Montebello CA,CALIFORNIA,Taiwan,Taiwan,190

In [11]:
check_missings

array([], dtype=object)

### Zomato top populations/cuisines per city query

In [12]:
def zomato_city_restaurant_count_query(query_df, zconfig, pkl_id):
    zomato = Zomato(zconfig)
    response_df_path = f'../results/city_restaurant_count{pkl_id}.pkl'
    assert not os.path.exists(response_df_path), "The file is already there, do not run"
    print(response_df_path)
    
    zcity_id_list = []
    cuisine_id_list = []
    json_list = []
    count_list = []
    query_list = []
    for i, row in query_df.iterrows():        
        # Security saves of Zomato calls
        if i>0 and (i % 10 == 0):
            time.sleep(5)
            response_df = pd.DataFrame.from_dict({'zcity_id': zcity_id_list, 
                                                  'cuisines': cuisine_id_list,
                                                  'json': json_list,
                                                  'query': query_list,
                                                  'counts': count_list})
            response_df.to_pickle(response_df_path)
        
        try:
            count, json, query = zomato.get_city_restaurant_count(city_ID=row.zcity_id,
                                                                  cuisines=row.cuisine_id)
            zcity_id_list += [row.zcity_id]
            cuisine_id_list += [row.cuisine_id]
            json_list += [json]
            count_list += [count]
            query_list += [query]
            
            print(f'{i} city: {row.zcity_id} cuisines: {row.cuisine_id} count: {count}')
        except:
            print(f"failed city query {row.city_query}")
            pass
    
    #Final save
    response_df = pd.DataFrame.from_dict({'zcity_id': zcity_id_list, 
                                          'cuisines': cuisine_id_list,
                                          'json': json_list,
                                          'query': query_list,
                                          'counts': count_list})
    response_df.to_pickle(response_df_path)
    return response_df

query_df1 = query_df[:500]
query_df2 = query_df[500:961]
query_df3 = query_df[961:1961]
query_df4 = query_df[1961:2960]
query_df5 = query_df[2960:3960]
query_df6 = query_df[3960:]
# city_restaurants_df = zomato_city_restaurant_count_query(query_df=query_df5, zconfig=zconfig1, pkl_id=5)
#city_restaurants_df = zomato_city_restaurant_count_query(query_df=query_df6, zconfig=zconfig4, pkl_id=6)
#city_restaurants_df = zomato_city_restaurant_count_query(query_df=query_df3, zconfig=zconfig3, pkl_id=3)
#city_restaurants_df = zomato_city_restaurant_count_query(query_df=query_df4, zconfig=zconfig4, pkl_id=4)

In [13]:
count1 = pd.read_pickle('../results/city_restaurant_count1.pkl')
count2 = pd.read_pickle('../results/city_restaurant_count2.pkl')
count3 = pd.read_pickle('../results/city_restaurant_count3.pkl')
count4 = pd.read_pickle('../results/city_restaurant_count4.pkl')
count5 = pd.read_pickle('../results/city_restaurant_count5.pkl')
count6 = pd.read_pickle('../results/city_restaurant_count6.pkl')

city_counts = [count1, count2, count3, count4, count5, count6]
counts_df = pd.concat(city_counts)

# Create unique_id
counts_df['unique_id'] = counts_df['zcity_id'].astype(str) +'_'+ counts_df['cuisines']
counts_df = counts_df.drop(['zcity_id'], axis=1)
print('ANTES len(counts_df)', len(counts_df))
counts_df = counts_df.drop_duplicates(subset=['unique_id'])
print('DESPUES len(counts_df)', len(counts_df))

ANTES len(counts_df) 4396
DESPUES len(counts_df) 4376

In [14]:
# Create unique_id
query_df['unique_id'] = query_df['zcity_id'].astype(str) +'_'+ query_df['cuisine_id']

print("len(query_df['unique_id'].unique())", len(query_df['unique_id']))
print("len(query_df['unique_id'].unique())", len(query_df['unique_id'].unique()))
print("DUPLICADOS ", len(query_df['unique_id'])-len(query_df['unique_id'].unique()))

print("len(counts_df['unique_id'].unique())", len(counts_df['unique_id']))
print("len(counts_df['unique_id'].unique())", len(counts_df['unique_id'].unique()))
print("DUPLICADOS ", len(counts_df['unique_id'])-len(counts_df['unique_id'].unique()))

len(query_df['unique_id'].unique()) 4397
len(query_df['unique_id'].unique()) 4377
DUPLICADOS  20
len(counts_df['unique_id'].unique()) 4376
len(counts_df['unique_id'].unique()) 4376
DUPLICADOS  0

In [15]:
query_df[query_df.unique_id=='285_137']
print('query_df.dtypes', query_df.dtypes)

query_df.dtypes index             int64
zcity_id          int64
state_code       object
top               int64
city_query       object
state            object
population       object
cuisine_names    object
cuisine_id       object
unique_id        object
dtype: object

In [16]:
query_df = query_df.merge(counts_df, on=['unique_id'], how='left')

chinese_cuisine = query_df.cuisine_names.isin(['Hong Kong, Dim Sum', 'China, Sichuan'])
query_df.loc[chinese_cuisine, 'cuisine_names'] = 'China'

missing_Maine = {'state_code': ['ME'], 'population': ['Vietnam'], 'cuisine_names': ['Vietnam'], 'counts': [1]}
missing_Maine = pd.DataFrame(missing_Maine)
query_df = pd.concat([query_df, missing_Maine], axis=0)

In [17]:
state_cuisine_counts = query_df.groupby(['state_code', 'population', 'cuisine_names'])['counts'].sum()
state_cuisine_counts = state_cuisine_counts.reset_index()
state_cuisine_counts[state_cuisine_counts['state_code']=='ME']

    state_code            population         cuisine_names  counts
200         ME                Canada                Canada     0.0
201         ME                 China                 China    87.0
202         ME               England               England     0.0
203         ME               Germany               Germany     6.0
204         ME                 India                 India    10.0
205         ME  Other Eastern Africa  Other Eastern Africa     4.0
206         ME   Other Middle Africa   Other Middle Africa     4.0
207         ME           Philippines           Philippines     2.0
208         ME               Somalia               Somalia     4.0
209         ME               Vietnam               Vietnam     1.0

In [18]:
state_cuisine_counts

    state_code          population          cuisine_names  counts
0           AK              Canada                 Canada     0.0
1           AK  Dominican Republic     Dominican Republic     0.0
2           AK             Germany                Germany     1.0
3           AK               Korea                  Korea    23.0
4           AK                Laos                   Laos     0.0
..         ...                 ...                    ...     ...
485         WY           Guatemala              Guatemala    32.0
486         WY               Korea                  Korea     1.0
487         WY              Mexico  Mexico, Taco, Tex-Mex    32.0
488         WY         Philippines            Philippines     0.0
489         WY      United Kingdom         United Kingdom     0.0

[490 rows x 4 columns]

In [19]:
state_cuisine_counts.groupby('state_code').count()

            population  cuisine_names  counts
state_code
AK                  10             10      10
AL                  10             10      10
AR                  10             10      10
AZ                  10             10      10
CA                  10             10      10
CO                  10             10      10
CT                  10             10      10
DC                  10             10      10
DE                  10             10      10
FL                  10             10      10
GA                  10             10      10
IA                  10             10      10
ID                  10             10      10
IL                  10             10      10
IN                  10             10      10
KS                  10             10      10
KY                  10             10      10
LA                  10             10      10
MA                  10             10      10
MD                  10             10      10
ME                  10             10      10
MI                  10             10      10
MN                  10             10      10
MO                  10             10      10
MS                  10             10      10
MT                  10             10      10
NC                  10             10      10
ND                  10             10      10
NE                  10             10      10
NH                  10             10      10
NJ                  10             10      10
NM                  10             10      10
NV                  10             10      10
NY                  10             10      10
OH                  10             10      10
OK                  10             10      10
OR                  10             10      10
PA                  10             10      10
RI                  10             10      10
SC                  10             10      10
SD                  10             10      10
TN                  10             10      10
TX                  10             10      10
UT                  10             10      10
VA                  10             10      10
WA                  10             10      10
WI                  10             10      10
WV                  10             10      10
WY                  10             10      10

# OBJETIVO 
## {'country': str, 'population': int, 'cuisine': str, 'restaurant_count': int}

In [20]:
states_immigration_df_raw = pd.read_csv('../data/transposed_birthplace.csv')
states_immigration_df_raw.head(5)

states_immigration_df_raw_copy = states_immigration_df_raw.copy()
states_immigration_df_raw_copy = states_immigration_df_raw_copy[['state_code', 'state_name', 'total']]

In [21]:
states_immigration_df_raw = states_immigration_df_raw.drop(['state_name','total'], axis=1)
print(len(states_immigration_df_raw))
states_immigration_df_raw.head(5)

50

,state_code,Mexico,India,Iraq,China,Canada,Lebanon,Philippines,Korea,Germany,...,West Indies,Barbados,Other Northern America,St. Vincent and the Grenadines,Dominica,Other Western Europe,Other Central America,Cabo Verde,Other South Eastern Asia,Azores Islands
0,AL,49403,9276,202,8775,3229,452,4752,10003,6436,...,138,109,209,150,70,0,50,15,0,0
1,AK,4157,650,0,1138,2843,55,18666,3589,1477,...,53,13,12,3,114,0,0,0,19,0
2,AZ,513583,40183,10733,22644,42798,1664,30870,11167,15132,...,62,139,185,61,67,31,73,142,19,90
3,AR,59287,8282,241,4087,2258,89,3156,1939,2697,...,44,0,46,22,16,12,37,0,0,9
4,CA,4140352,486876,45070,639505,132843,30979,841143,323169,77700,...,752,1031,615,395,372,360,1727,475,263,8088

# 1. Wide to long and collapse top 10

In [22]:
states_immigration_df = pd.melt(states_immigration_df_raw, id_vars='state_code', 
                              var_name='country', value_name='population')

states_immigration_df = states_immigration_df.sort_values(by=['state_code', 'population'],
                                                          ascending=[True, False]).reset_index(drop=True)

states_immigration_df = states_immigration_df[states_immigration_df.state_code!='VT']
states_immigration_df[states_immigration_df.state_code=='ME'].head(10)

     state_code               country  population
2680         ME                Canada        9622
2681         ME                 China        2723
2682         ME  Other Eastern Africa        2252
2683         ME               Germany        2041
2684         ME           Philippines        2010
2685         ME   Other Middle Africa        1615
2686         ME                 India        1318
2687         ME               England        1318
2688         ME               Somalia        1318
2689         ME               Vietnam        1271

In [23]:
n_states = len(states_immigration_df['state_code'].unique())
states_top_immigration_df = states_immigration_df.groupby(['state_code']).head(10).reset_index(drop=True)
top = [f'top{x}' for x in range(1, 11)]
top = top * n_states
states_top_immigration_df['top'] = top
states_top_immigration_df

,state_code,country,population,top
0,AK,Philippines,18666,top1
1,AK,Mexico,4157,top2
2,AK,Korea,3589,top3
3,AK,Thailand,2867,top4
4,AK,Canada,2843,top5
...,...,...,...,...
485,WY,China,672,top6
486,WY,England,584,top7
487,WY,El Salvador,503,top8
488,WY,"United Kingdom, excluding England and Scotland",396,top9
489,WY,Korea,373,top10

In [24]:
states_top_immigration_df = states_top_immigration_df.sort_values(['state_code', 'country']).reset_index(drop=True)

# 2. Merge con counts

In [25]:
states_top_immigration_df

,state_code,country,population,top
0,AK,Canada,2843,top5
1,AK,Dominican Republic,1433,top8
2,AK,Germany,1477,top7
3,AK,Korea,3589,top3
4,AK,Laos,1288,top10
...,...,...,...,...
485,WY,Guatemala,756,top4
486,WY,Korea,373,top10
487,WY,Mexico,8441,top1
488,WY,Philippines,1046,top2
489,WY,"United Kingdom, excluding England and Scotland",396,top9

In [26]:
state_cuisine_counts

    state_code          population          cuisine_names  counts
0           AK              Canada                 Canada     0.0
1           AK  Dominican Republic     Dominican Republic     0.0
2           AK             Germany                Germany     1.0
3           AK               Korea                  Korea    23.0
4           AK                Laos                   Laos     0.0
..         ...                 ...                    ...     ...
485         WY           Guatemala              Guatemala    32.0
486         WY               Korea                  Korea     1.0
487         WY              Mexico  Mexico, Taco, Tex-Mex    32.0
488         WY         Philippines            Philippines     0.0
489         WY      United Kingdom         United Kingdom     0.0

[490 rows x 4 columns]

In [27]:
ver = state_cuisine_counts[['counts', 'cuisine_names']]
merged_df = pd.concat([states_top_immigration_df, ver], axis=1)

In [28]:
merged_df = merged_df.sort_values(['state_code', 'population'], ascending=[True, False]).reset_index(drop=True)
merged_df

,state_code,country,population,top,counts,cuisine_names
0,AK,Philippines,18666,top1,3.0,Philippines
1,AK,Mexico,4157,top2,59.0,"Mexico, Taco, Tex-Mex"
2,AK,Korea,3589,top3,23.0,Korea
3,AK,Thailand,2867,top4,35.0,Thailand
4,AK,Canada,2843,top5,0.0,Canada
...,...,...,...,...,...,...
485,WY,China,672,top6,20.0,China
486,WY,England,584,top7,0.0,England
487,WY,El Salvador,503,top8,0.0,El Salvador
488,WY,"United Kingdom, excluding England and Scotland",396,top9,0.0,United Kingdom
489,WY,Korea,373,top10,1.0,Korea

In [29]:
merged_df.to_csv('../data/kin_nov2/merged_df.csv')

# 3. Fancy dict

In [30]:
import numpy as np

# US MAP matrix
# let stateShow = [1,0,0,0,0,0,0,0,0,0,0,0,1,
#                  0,0,0,0,0,0,0,0,0,0,1,1,0,
#                  0,1,1,1,1,1,0,1,0,1,1,1,0,
#                  0,1,1,1,1,1,1,1,1,1,1,0,0,
#                  0,1,1,1,1,1,1,1,1,1,0,0,0,
#                  0,1,1,1,1,1,1,1,1,0,0,0,1,
#                  0,0,0,1,1,1,1,1,1,0,0,0,0,
#                  0,0,0,1,0,0,0,1,0,0,0,0,0,
#                  1,0,0,0,0,0,0,0,1,0,0,0,0];

# MAP defines row and col positions parsed with python
stateShow = np.array([["AK","NA","NA","NA","NA","NA","NA","NA","NA","NA","NA","NA","ME"],
                      ["NA","NA","NA","NA","NA","NA","NA","NA","NA","NA","VT","NH","NA"],
                      ["NA","WA", "MT", "ND", "MN", "WI","NA","MI","NA","NY", "MA", "RI","NA"],
                      ["NA","ID", "WY", "SD", "IA", "IL", "IN", "OH","PA", "NJ", "CT","NA","NA"],
                      ["NA","OR", "NV", "CO", "NE", "MO", "KY", "WV","MD", "DE","NA","NA","NA"],
                      ["NA","CA", "AZ", "UT", "KS", "AR", "TN", "VA", "NC","NA","NA","NA","DC"],
                      ["NA","NA","NA","NM", "OK", "LA", "MS", "AL", "SC","NA","NA","NA","NA"],
                      ["NA","NA","NA","TX","NA","NA","NA","GA","NA","NA","NA","NA","NA"],
                      ["HI","NA","NA","NA","NA","NA","NA","NA","FL","NA","NA","NA","NA"]])

In [31]:
top = [f'top{x}' for x in range(1, 11)]
state_dicts = {}
for state, state_df in merged_df.groupby(['state_code']):
    print(state)
    
    total_restaurants = state_df['counts'].sum()
    
    state_pos = np.where(stateShow == state)
    #print(f"row={state_pos[0][0]} col={state_pos[1][0]}")
    state_df = state_df.transpose()
    
    state_df.columns = [f'top{x}' for x in range(1, 11)]
    state_df = state_df.to_dict()
    state_df['row'] = int(state_pos[0][0])
    state_df['col'] = int(state_pos[1][0])
    
    # Add state_name + total
    filter_df = states_immigration_df_raw_copy[states_immigration_df_raw_copy.state_code==state]
    filter_df = filter_df.reset_index()
    filter_df.state_name[0]
    state_df['state_name'] = filter_df.state_name[0]
    state_df['total_population'] = int(filter_df.total[0])
    
    state_df['total_restaurants'] = int(total_restaurants)
    
    state_dicts[state] = state_df
    
ver = state_dicts

AK
AL
AR
AZ
CA
CO
CT
DC
DE
FL
GA
IA
ID
IL
IN
KS
KY
LA
MA
MD
ME
MI
MN
MO
MS
MT
NC
ND
NE
NH
NJ
NM
NV
NY
OH
OK
OR
PA
RI
SC
SD
TN
TX
UT
VA
WA
WI
WV
WY

In [32]:
with open('../results/statesInfo.json', 'w') as outfile:
    json.dump(ver, outfile)

In [33]:
states_immigration_df_raw_copy.head()

  state_code  state_name     total
0         AL     Alabama    168111
1         AK      Alaska     57399
2         AZ     Arizona    933128
3         AR    Arkansas    142480
4         CA  California  10537437

In [34]:
ver['AK']

{'top1': {'state_code': 'AK',
  'country': 'Philippines',
  'population': 18666,
  'top': 'top1',
  'counts': 3.0,
  'cuisine_names': 'Philippines'},
 'top2': {'state_code': 'AK',
  'country': 'Mexico',
  'population': 4157,
  'top': 'top2',
  'counts': 59.0,
  'cuisine_names': 'Mexico, Taco, Tex-Mex'},
 'top3': {'state_code': 'AK',
  'country': 'Korea',
  'population': 3589,
  'top': 'top3',
  'counts': 23.0,
  'cuisine_names': 'Korea'},
 'top4': {'state_code': 'AK',
  'country': 'Thailand',
  'population': 2867,
  'top': 'top4',
  'counts': 35.0,
  'cuisine_names': 'Thailand'},
 'top5': {'state_code': 'AK',
  'country': 'Canada',
  'population': 2843,
  'top': 'top5',
  'counts': 0.0,
  'cuisine_names': 'Canada'},
 'top6': {'state_code': 'AK',
  'country': 'Russia',
  'population': 1726,
  'top': 'top6',
  'counts': 0.0,
  'cuisine_names': 'Russia'},
 'top7': {'state_code': 'AK',
  'country': 'Germany',
  'population': 1477,
  'top': 'top7',
  'counts': 1.0,
  'cuisine_names': 'Germany'},
 'top8': {'state_code': 'AK',
  'country': 'Dominican Republic',
  'population': 1433,
  'top': 'top8',
  'counts': 0.0,
  'cuisine_names': 'Dominican Republic'},
 'top9': {'state_code': 'AK',
  'country': 'Oceania, n.e.c.',
  'population': 1329,
  'top': 'top9',
  'counts': 0.0,
  'cuisine_names': 'Oceania, n.e.c.'},
 'top10': {'state_code': 'AK',
  'country': 'Laos',
  'population': 1288,
  'top': 'top10',
  'counts': 0.0,
  'cuisine_names': 'Laos'},
 'row': 0,
 'col': 0,
 'state_name': 'Alaska',
 'total_population': 57399,
 'total_restaurants': 121}

In [35]:
state_df

{'top1': {'state_code': 'WY',
  'country': 'Mexico',
  'population': 8441,
  'top': 'top1',
  'counts': 32.0,
  'cuisine_names': 'Mexico, Taco, Tex-Mex'},
 'top2': {'state_code': 'WY',
  'country': 'Philippines',
  'population': 1046,
  'top': 'top2',
  'counts': 0.0,
  'cuisine_names': 'Philippines'},
 'top3': {'state_code': 'WY',
  'country': 'Canada',
  'population': 1022,
  'top': 'top3',
  'counts': 0.0,
  'cuisine_names': 'Canada'},
 'top4': {'state_code': 'WY',
  'country': 'Guatemala',
  'population': 756,
  'top': 'top4',
  'counts': 32.0,
  'cuisine_names': 'Guatemala'},
 'top5': {'state_code': 'WY',
  'country': 'Germany',
  'population': 700,
  'top': 'top5',
  'counts': 0.0,
  'cuisine_names': 'Germany'},
 'top6': {'state_code': 'WY',
  'country': 'China',
  'population': 672,
  'top': 'top6',
  'counts': 20.0,
  'cuisine_names': 'China'},
 'top7': {'state_code': 'WY',
  'country': 'England',
  'population': 584,
  'top': 'top7',
  'counts': 0.0,
  'cuisine_names': 'England'},
 'top8': {'state_code': 'WY',
  'country': 'El Salvador',
  'population': 503,
  'top': 'top8',
  'counts': 0.0,
  'cuisine_names': 'El Salvador'},
 'top9': {'state_code': 'WY',
  'country': 'United Kingdom, excluding England and Scotland',
  'population': 396,
  'top': 'top9',
  'counts': 0.0,
  'cuisine_names': 'United Kingdom'},
 'top10': {'state_code': 'WY',
  'country': 'Korea',
  'population': 373,
  'top': 'top10',
  'counts': 1.0,
  'cuisine_names': 'Korea'},
 'row': 3,
 'col': 2,
 'state_name': 'Wyoming',
 'total_population': 20276,
 'total_restaurants': 85}

In [36]:
ver

{'AK': {'top1': {'state_code': 'AK',
   'country': 'Philippines',
   'population': 18666,
   'top': 'top1',
   'counts': 3.0,
   'cuisine_names': 'Philippines'},
  'top2': {'state_code': 'AK',
   'country': 'Mexico',
   'population': 4157,
   'top': 'top2',
   'counts': 59.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top3': {'state_code': 'AK',
   'country': 'Korea',
   'population': 3589,
   'top': 'top3',
   'counts': 23.0,
   'cuisine_names': 'Korea'},
  'top4': {'state_code': 'AK',
   'country': 'Thailand',
   'population': 2867,
   'top': 'top4',
   'counts': 35.0,
   'cuisine_names': 'Thailand'},
  'top5': {'state_code': 'AK',
   'country': 'Canada',
   'population': 2843,
   'top': 'top5',
   'counts': 0.0,
   'cuisine_names': 'Canada'},
  'top6': {'state_code': 'AK',
   'country': 'Russia',
   'population': 1726,
   'top': 'top6',
   'counts': 0.0,
   'cuisine_names': 'Russia'},
  'top7': {'state_code': 'AK',
   'country': 'Germany',
   'population': 1477,
   'top': 'top7',
   'counts': 1.0,
   'cuisine_names': 'Germany'},
  'top8': {'state_code': 'AK',
   'country': 'Dominican Republic',
   'population': 1433,
   'top': 'top8',
   'counts': 0.0,
   'cuisine_names': 'Dominican Republic'},
  'top9': {'state_code': 'AK',
   'country': 'Oceania, n.e.c.',
   'population': 1329,
   'top': 'top9',
   'counts': 0.0,
   'cuisine_names': 'Oceania, n.e.c.'},
  'top10': {'state_code': 'AK',
   'country': 'Laos',
   'population': 1288,
   'top': 'top10',
   'counts': 0.0,
   'cuisine_names': 'Laos'},
  'row': 0,
  'col': 0,
  'state_name': 'Alaska',
  'total_population': 57399,
  'total_restaurants': 121},
 'AL': {'top1': {'state_code': 'AL',
   'country': 'Mexico',
   'population': 49403,
   'top': 'top1',
   'counts': 434.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top2': {'state_code': 'AL',
   'country': 'Guatemala',
   'population': 11611,
   'top': 'top2',
   'counts': 453.0,
   'cuisine_names': 'Guatemala'},
  'top3': {'state_code': 'AL',
   'country': 'Korea',
   'population': 10003,
   'top': 'top3',
   'counts': 24.0,
   'cuisine_names': 'Korea'},
  'top4': {'state_code': 'AL',
   'country': 'India',
   'population': 9276,
   'top': 'top4',
   'counts': 21.0,
   'cuisine_names': 'India'},
  'top5': {'state_code': 'AL',
   'country': 'China',
   'population': 8775,
   'top': 'top5',
   'counts': 322.0,
   'cuisine_names': 'China'},
  'top6': {'state_code': 'AL',
   'country': 'Germany',
   'population': 6436,
   'top': 'top6',
   'counts': 12.0,
   'cuisine_names': 'Germany'},
  'top7': {'state_code': 'AL',
   'country': 'Vietnam',
   'population': 6056,
   'top': 'top7',
   'counts': 15.0,
   'cuisine_names': 'Vietnam'},
  'top8': {'state_code': 'AL',
   'country': 'Philippines',
   'population': 4752,
   'top': 'top8',
   'counts': 0.0,
   'cuisine_names': 'Philippines'},
  'top9': {'state_code': 'AL',
   'country': 'Honduras',
   'population': 3344,
   'top': 'top9',
   'counts': 5.0,
   'cuisine_names': 'South America'},
  'top10': {'state_code': 'AL',
   'country': 'Canada',
   'population': 3229,
   'top': 'top10',
   'counts': 0.0,
   'cuisine_names': 'Canada'},
  'row': 6,
  'col': 7,
  'state_name': 'Alabama',
  'total_population': 168111,
  'total_restaurants': 1286},
 'AR': {'top1': {'state_code': 'AR',
   'country': 'Mexico',
   'population': 59287,
   'top': 'top1',
   'counts': 203.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top2': {'state_code': 'AR',
   'country': 'El Salvador',
   'population': 13514,
   'top': 'top2',
   'counts': 0.0,
   'cuisine_names': 'El Salvador'},
  'top3': {'state_code': 'AR',
   'country': 'India',
   'population': 8282,
   'top': 'top3',
   'counts': 7.0,
   'cuisine_names': 'India'},
  'top4': {'state_code': 'AR',
   'country': 'Oceania, n.e.c.',
   'population': 5098,
   'top': 'top4',
   'counts': 0.0,
   'cuisine_names': 'Oceania, n.e.c.'},
  'top5': {'state_code': 'AR',
   'country': 'Guatemala',
   'population': 4741,
   'top': 'top5',
   'counts': 206.0,
   'cuisine_names': 'Guatemala'},
  'top6': {'state_code': 'AR',
   'country': 'Vietnam',
   'population': 4174,
   'top': 'top6',
   'counts': 13.0,
   'cuisine_names': 'Vietnam'},
  'top7': {'state_code': 'AR',
   'country': 'China',
   'population': 4087,
   'top': 'top7',
   'counts': 85.0,
   'cuisine_names': 'China'},
  'top8': {'state_code': 'AR',
   'country': 'Philippines',
   'population': 3156,
   'top': 'top8',
   'counts': 0.0,
   'cuisine_names': 'Philippines'},
  'top9': {'state_code': 'AR',
   'country': 'Laos',
   'population': 2920,
   'top': 'top9',
   'counts': 0.0,
   'cuisine_names': 'Laos'},
  'top10': {'state_code': 'AR',
   'country': 'Germany',
   'population': 2697,
   'top': 'top10',
   'counts': 4.0,
   'cuisine_names': 'Germany'},
  'row': 5,
  'col': 5,
  'state_name': 'Arkansas',
  'total_population': 142480,
  'total_restaurants': 518},
 'AZ': {'top1': {'state_code': 'AZ',
   'country': 'Mexico',
   'population': 513583,
   'top': 'top1',
   'counts': 1309.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top2': {'state_code': 'AZ',
   'country': 'Canada',
   'population': 42798,
   'top': 'top2',
   'counts': 1.0,
   'cuisine_names': 'Canada'},
  'top3': {'state_code': 'AZ',
   'country': 'India',
   'population': 40183,
   'top': 'top3',
   'counts': 81.0,
   'cuisine_names': 'India'},
  'top4': {'state_code': 'AZ',
   'country': 'Philippines',
   'population': 30870,
   'top': 'top4',
   'counts': 8.0,
   'cuisine_names': 'Philippines'},
  'top5': {'state_code': 'AZ',
   'country': 'China',
   'population': 22644,
   'top': 'top5',
   'counts': 474.0,
   'cuisine_names': 'China'},
  'top6': {'state_code': 'AZ',
   'country': 'Vietnam',
   'population': 20732,
   'top': 'top6',
   'counts': 79.0,
   'cuisine_names': 'Vietnam'},
  'top7': {'state_code': 'AZ',
   'country': 'Germany',
   'population': 15132,
   'top': 'top7',
   'counts': 13.0,
   'cuisine_names': 'Germany'},
  'top8': {'state_code': 'AZ',
   'country': 'Guatemala',
   'population': 13682,
   'top': 'top8',
   'counts': 1355.0,
   'cuisine_names': 'Guatemala'},
  'top9': {'state_code': 'AZ',
   'country': 'Korea',
   'population': 11167,
   'top': 'top9',
   'counts': 37.0,
   'cuisine_names': 'Korea'},
  'top10': {'state_code': 'AZ',
   'country': 'Iraq',
   'population': 10733,
   'top': 'top10',
   'counts': 69.0,
   'cuisine_names': 'Iraq'},
  'row': 5,
  'col': 2,
  'state_name': 'Arizona',
  'total_population': 933128,
  'total_restaurants': 3426},
 'CA': {'top1': {'state_code': 'CA',
   'country': 'Mexico',
   'population': 4140352,
   'top': 'top1',
   'counts': 149738.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top2': {'state_code': 'CA',
   'country': 'Philippines',
   'population': 841143,
   'top': 'top2',
   'counts': 7612.0,
   'cuisine_names': 'Philippines'},
  'top3': {'state_code': 'CA',
   'country': 'China',
   'population': 639505,
   'top': 'top3',
   'counts': 89359.0,
   'cuisine_names': 'China'},
  'top4': {'state_code': 'CA',
   'country': 'Vietnam',
   'population': 514856,
   'top': 'top4',
   'counts': 27086.0,
   'cuisine_names': 'Vietnam'},
  'top5': {'state_code': 'CA',
   'country': 'India',
   'population': 486876,
   'top': 'top5',
   'counts': 18250.0,
   'cuisine_names': 'India'},
  'top6': {'state_code': 'CA',
   'country': 'El Salvador',
   'population': 437016,
   'top': 'top6',
   'counts': 2545.0,
   'cuisine_names': 'El Salvador'},
  'top7': {'state_code': 'CA',
   'country': 'Korea',
   'population': 323169,
   'top': 'top7',
   'counts': 23175.0,
   'cuisine_names': 'Korea'},
  'top8': {'state_code': 'CA',
   'country': 'Guatemala',
   'population': 276542,
   'top': 'top8',
   'counts': 163570.0,
   'cuisine_names': 'Guatemala'},
  'top9': {'state_code': 'CA',
   'country': 'Iran',
   'population': 205396,
   'top': 'top9',
   'counts': 716.0,
   'cuisine_names': 'Iran'},
  'top10': {'state_code': 'CA',
   'country': 'Taiwan',
   'population': 179867,
   'top': 'top10',
   'counts': 1731.0,
   'cuisine_names': 'Taiwan'},
  'row': 5,
  'col': 1,
  'state_name': 'California',
  'total_population': 10537437,
  'total_restaurants': 483782},
 'CO': {'top1': {'state_code': 'CO',
   'country': 'Mexico',
   'population': 228598,
   'top': 'top1',
   'counts': 1141.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top2': {'state_code': 'CO',
   'country': 'India',
   'population': 21981,
   'top': 'top2',
   'counts': 81.0,
   'cuisine_names': 'India'},
  'top3': {'state_code': 'CO',
   'country': 'China',
   'population': 18822,
   'top': 'top3',
   'counts': 432.0,
   'cuisine_names': 'China'},
  'top4': {'state_code': 'CO',
   'country': 'Vietnam',
   'population': 17685,
   'top': 'top4',
   'counts': 160.0,
   'cuisine_names': 'Vietnam'},
  'top5': {'state_code': 'CO',
   'country': 'Germany',
   'population': 15476,
   'top': 'top5',
   'counts': 26.0,
   'cuisine_names': 'Germany'},
  'top6': {'state_code': 'CO',
   'country': 'Korea',
   'population': 14915,
   'top': 'top6',
   'counts': 40.0,
   'cuisine_names': 'Korea'},
  'top7': {'state_code': 'CO',
   'country': 'Canada',
   'population': 14105,
   'top': 'top7',
   'counts': 0.0,
   'cuisine_names': 'Canada'},
  'top8': {'state_code': 'CO',
   'country': 'Philippines',
   'population': 11007,
   'top': 'top8',
   'counts': 7.0,
   'cuisine_names': 'Philippines'},
  'top9': {'state_code': 'CO',
   'country': 'El Salvador',
   'population': 9765,
   'top': 'top9',
   'counts': 1.0,
   'cuisine_names': 'El Salvador'},
  'top10': {'state_code': 'CO',
   'country': 'Ethiopia',
   'population': 9513,
   'top': 'top10',
   'counts': 20.0,
   'cuisine_names': 'Ethiopia'},
  'row': 4,
  'col': 3,
  'state_name': 'Colorado',
  'total_population': 542977,
  'total_restaurants': 1908},
 'CT': {'top1': {'state_code': 'CT',
   'country': 'India',
   'population': 41480,
   'top': 'top1',
   'counts': 60.0,
   'cuisine_names': 'India'},
  'top2': {'state_code': 'CT',
   'country': 'Jamaica',
   'population': 36197,
   'top': 'top2',
   'counts': 19.0,
   'cuisine_names': 'Jamaica'},
  'top3': {'state_code': 'CT',
   'country': 'Mexico',
   'population': 26909,
   'top': 'top3',
   'counts': 184.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top4': {'state_code': 'CT',
   'country': 'Poland',
   'population': 24898,
   'top': 'top4',
   'counts': 3.0,
   'cuisine_names': 'Poland'},
  'top5': {'state_code': 'CT',
   'country': 'Dominican Republic',
   'population': 21821,
   'top': 'top5',
   'counts': 2.0,
   'cuisine_names': 'Dominican Republic'},
  'top6': {'state_code': 'CT',
   'country': 'China',
   'population': 20996,
   'top': 'top6',
   'counts': 470.0,
   'cuisine_names': 'China'},
  'top7': {'state_code': 'CT',
   'country': 'Ecuador',
   'population': 19692,
   'top': 'top7',
   'counts': 0.0,
   'cuisine_names': 'Ecuador'},
  'top8': {'state_code': 'CT',
   'country': 'Italy',
   'population': 17375,
   'top': 'top8',
   'counts': 1509.0,
   'cuisine_names': 'Italy, Pizza'},
  'top9': {'state_code': 'CT',
   'country': 'Brazil',
   'population': 16884,
   'top': 'top9',
   'counts': 11.0,
   'cuisine_names': 'Brazil'},
  'top10': {'state_code': 'CT',
   'country': 'Guatemala',
   'population': 15455,
   'top': 'top10',
   'counts': 280.0,
   'cuisine_names': 'Guatemala'},
  'row': 3,
  'col': 10,
  'state_name': 'Connecticut',
  'total_population': 513631,
  'total_restaurants': 2538},
 'DC': {'top1': {'state_code': 'DC',
   'country': 'El Salvador',
   'population': 12238,
   'top': 'top1',
   'counts': 0.0,
   'cuisine_names': 'El Salvador'},
  'top2': {'state_code': 'DC',
   'country': 'Ethiopia',
   'population': 5815,
   'top': 'top2',
   'counts': 34.0,
   'cuisine_names': 'Ethiopia'},
  'top3': {'state_code': 'DC',
   'country': 'Mexico',
   'population': 4166,
   'top': 'top3',
   'counts': 129.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top4': {'state_code': 'DC',
   'country': 'China',
   'population': 3646,
   'top': 'top4',
   'counts': 147.0,
   'cuisine_names': 'China'},
  'top5': {'state_code': 'DC',
   'country': 'Guatemala',
   'population': 3303,
   'top': 'top5',
   'counts': 201.0,
   'cuisine_names': 'Guatemala'},
  'top6': {'state_code': 'DC',
   'country': 'India',
   'population': 2984,
   'top': 'top6',
   'counts': 61.0,
   'cuisine_names': 'India'},
  'top7': {'state_code': 'DC',
   'country': 'France',
   'population': 2362,
   'top': 'top7',
   'counts': 85.0,
   'cuisine_names': 'France, Fondue, Crepes'},
  'top8': {'state_code': 'DC',
   'country': 'Jamaica',
   'population': 2360,
   'top': 'top8',
   'counts': 2.0,
   'cuisine_names': 'Jamaica'},
  'top9': {'state_code': 'DC',
   'country': 'Philippines',
   'population': 2258,
   'top': 'top9',
   'counts': 1.0,
   'cuisine_names': 'Philippines'},
  'top10': {'state_code': 'DC',
   'country': 'Canada',
   'population': 2172,
   'top': 'top10',
   'counts': 0.0,
   'cuisine_names': 'Canada'},
  'row': 5,
  'col': 12,
  'state_name': 'District of Columbia',
  'total_population': 96158,
  'total_restaurants': 660},
 'DE': {'top1': {'state_code': 'DE',
   'country': 'Mexico',
   'population': 15683,
   'top': 'top1',
   'counts': 276.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top2': {'state_code': 'DE',
   'country': 'India',
   'population': 11434,
   'top': 'top2',
   'counts': 94.0,
   'cuisine_names': 'India'},
  'top3': {'state_code': 'DE',
   'country': 'China',
   'population': 5816,
   'top': 'top3',
   'counts': 895.0,
   'cuisine_names': 'China'},
  'top4': {'state_code': 'DE',
   'country': 'Guatemala',
   'population': 4652,
   'top': 'top4',
   'counts': 403.0,
   'cuisine_names': 'Guatemala'},
  'top5': {'state_code': 'DE',
   'country': 'Philippines',
   'population': 3307,
   'top': 'top5',
   'counts': 4.0,
   'cuisine_names': 'Philippines'},
  'top6': {'state_code': 'DE',
   'country': 'Haiti',
   'population': 3048,
   'top': 'top6',
   'counts': 117.0,
   'cuisine_names': 'Haiti'},
  'top7': {'state_code': 'DE',
   'country': 'Jamaica',
   'population': 2198,
   'top': 'top7',
   'counts': 32.0,
   'cuisine_names': 'Jamaica'},
  'top8': {'state_code': 'DE',
   'country': 'Kenya',
   'population': 2027,
   'top': 'top8',
   'counts': 44.0,
   'cuisine_names': 'Other Middle Africa'},
  'top9': {'state_code': 'DE',
   'country': 'Dominican Republic',
   'population': 1996,
   'top': 'top9',
   'counts': 2.0,
   'cuisine_names': 'Dominican Republic'},
  'top10': {'state_code': 'DE',
   'country': 'Korea',
   'population': 1834,
   'top': 'top10',
   'counts': 47.0,
   'cuisine_names': 'Korea'},
  'row': 4,
  'col': 9,
  'state_name': 'Delaware',
  'total_population': 87378,
  'total_restaurants': 1914},
 'FL': {'top1': {'state_code': 'FL',
   'country': 'Cuba',
   'population': 970958,
   'top': 'top1',
   'counts': 918.0,
   'cuisine_names': 'Cuba'},
  'top2': {'state_code': 'FL',
   'country': 'Haiti',
   'population': 325644,
   'top': 'top2',
   'counts': 1981.0,
   'cuisine_names': 'Haiti'},
  'top3': {'state_code': 'FL',
   'country': 'Mexico',
   'population': 268587,
   'top': 'top3',
   'counts': 1774.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top4': {'state_code': 'FL',
   'country': 'Colombia',
   'population': 262304,
   'top': 'top4',
   'counts': 299.0,
   'cuisine_names': 'Colombia'},
  'top5': {'state_code': 'FL',
   'country': 'Jamaica',
   'population': 215622,
   'top': 'top5',
   'counts': 162.0,
   'cuisine_names': 'Jamaica'},
  'top6': {'state_code': 'FL',
   'country': 'Venezuela',
   'population': 160217,
   'top': 'top6',
   'counts': 114.0,
   'cuisine_names': 'Venezuela'},
  'top7': {'state_code': 'FL',
   'country': 'Dominican Republic',
   'population': 125356,
   'top': 'top7',
   'counts': 91.0,
   'cuisine_names': 'Dominican Republic'},
  'top8': {'state_code': 'FL',
   'country': 'Canada',
   'population': 111793,
   'top': 'top8',
   'counts': 1.0,
   'cuisine_names': 'Canada'},
  'top9': {'state_code': 'FL',
   'country': 'Nicaragua',
   'population': 105077,
   'top': 'top9',
   'counts': 75.0,
   'cuisine_names': 'Nicaragua'},
  'top10': {'state_code': 'FL',
   'country': 'Honduras',
   'population': 101324,
   'top': 'top10',
   'counts': 990.0,
   'cuisine_names': 'South America'},
  'row': 8,
  'col': 8,
  'state_name': 'Florida',
  'total_population': 4227052,
  'total_restaurants': 6405},
 'GA': {'top1': {'state_code': 'GA',
   'country': 'Mexico',
   'population': 254885,
   'top': 'top1',
   'counts': 1103.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top2': {'state_code': 'GA',
   'country': 'India',
   'population': 89194,
   'top': 'top2',
   'counts': 172.0,
   'cuisine_names': 'India'},
  'top3': {'state_code': 'GA',
   'country': 'Korea',
   'population': 43260,
   'top': 'top3',
   'counts': 155.0,
   'cuisine_names': 'Korea'},
  'top4': {'state_code': 'GA',
   'country': 'Jamaica',
   'population': 40264,
   'top': 'top4',
   'counts': 49.0,
   'cuisine_names': 'Jamaica'},
  'top5': {'state_code': 'GA',
   'country': 'Vietnam',
   'population': 37689,
   'top': 'top5',
   'counts': 95.0,
   'cuisine_names': 'Vietnam'},
  'top6': {'state_code': 'GA',
   'country': 'China',
   'population': 33508,
   'top': 'top6',
   'counts': 994.0,
   'cuisine_names': 'China'},
  'top7': {'state_code': 'GA',
   'country': 'Guatemala',
   'population': 33173,
   'top': 'top7',
   'counts': 1325.0,
   'cuisine_names': 'Guatemala'},
  'top8': {'state_code': 'GA',
   'country': 'El Salvador',
   'population': 27032,
   'top': 'top8',
   'counts': 3.0,
   'cuisine_names': 'El Salvador'},
  'top9': {'state_code': 'GA',
   'country': 'Nigeria',
   'population': 23422,
   'top': 'top9',
   'counts': 62.0,
   'cuisine_names': 'Nigeria'},
  'top10': {'state_code': 'GA',
   'country': 'Colombia',
   'population': 21723,
   'top': 'top10',
   'counts': 10.0,
   'cuisine_names': 'Colombia'},
  'row': 7,
  'col': 7,
  'state_name': 'Georgia',
  'total_population': 1035983,
  'total_restaurants': 3968},
 'IA': {'top1': {'state_code': 'IA',
   'country': 'Mexico',
   'population': 42190,
   'top': 'top1',
   'counts': 356.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top2': {'state_code': 'IA',
   'country': 'China',
   'population': 10019,
   'top': 'top2',
   'counts': 219.0,
   'cuisine_names': 'China'},
  'top3': {'state_code': 'IA',
   'country': 'India',
   'population': 9913,
   'top': 'top3',
   'counts': 25.0,
   'cuisine_names': 'India'},
  'top4': {'state_code': 'IA',
   'country': 'Vietnam',
   'population': 7217,
   'top': 'top4',
   'counts': 29.0,
   'cuisine_names': 'Vietnam'},
  'top5': {'state_code': 'IA',
   'country': 'Bosnia and Herzegovina',
   'population': 6001,
   'top': 'top5',
   'counts': 5.0,
   'cuisine_names': 'Bosnia and Herzegovina'},
  'top6': {'state_code': 'IA',
   'country': 'Korea',
   'population': 5602,
   'top': 'top6',
   'counts': 7.0,
   'cuisine_names': 'Korea'},
  'top7': {'state_code': 'IA',
   'country': 'Guatemala',
   'population': 5015,
   'top': 'top7',
   'counts': 360.0,
   'cuisine_names': 'Guatemala'},
  'top8': {'state_code': 'IA',
   'country': 'Burma',
   'population': 4843,
   'top': 'top8',
   'counts': 0.0,
   'cuisine_names': 'Burma'},
  'top9': {'state_code': 'IA',
   'country': 'Philippines',
   'population': 4399,
   'top': 'top9',
   'counts': 1.0,
   'cuisine_names': 'Philippines'},
  'top10': {'state_code': 'IA',
   'country': 'El Salvador',
   'population': 3569,
   'top': 'top10',
   'counts': 1.0,
   'cuisine_names': 'El Salvador'},
  'row': 3,
  'col': 4,
  'state_name': 'Iowa',
  'total_population': 161872,
  'total_restaurants': 1003},
 'ID': {'top1': {'state_code': 'ID',
   'country': 'Mexico',
   'population': 52011,
   'top': 'top1',
   'counts': 309.0,
   'cuisine_names': 'Mexico, Taco, Tex-Mex'},
  'top2': {'state_code': 'ID',
   'country': 'Canada',
   'population': 5266,
   'top': 'top2',
   'counts': 0.0,
   'cuisine_names': 'Canada'},