In [1]:
import time
import pandas as pd
from zomatopy import Zomato
#get_categories
#get_city_ID
#get_city_name
#get_collections
#get_cuisines
#get_establishment_types
#get_nearby_restaurants
#get_restaurant
#restaurant_search

zconfig1 = {"user_key":"2dde89df168a9311ecd9f1459126144c"} # Stef
zconfig2 = {"user_key":"312a1f0d7bb1f8cbfc611842ca184e1c"} # Kin
zconfig3 = {"user_key":"508a65203e6a0e2a3f87a1720682befa"} # Nandini
zconfig4 = {"user_key":"82f088ef3f4b0e06cf38d0701f38b42f"} # Sophia

### READ DATA

In [2]:
zcities_df = pd.read_csv('../data/kin_nov2/zcities_cleaned.csv') # cleaned zomato cities
cstates_df = pd.read_csv('../data/kin_nov2/top_population_state.csv') # census top 10 migrant populations
cuisines_df = pd.read_csv('../data/kin_nov2/cuisine_ids.csv') # merged cuisines and populations

In [3]:
zcities_df.drop('Unnamed: 0', axis=1, inplace=True)
zcities_df.head(5)

   zcity_id   city_query state_code
0       276    Dallas TX         TX
1       277   Houston TX         TX
2       278    Austin TX         TX
3       279   Seattle WA         WA
4       280  New York NY         NY

In [4]:
cstates_df.head(5)

,state,state_code,population1,population2,population3,population4,population5,population6,population7,population8,population9,population10
0,ALABAMA,AL,Mexico,Guatemala,Korea,India,China,Germany,Vietnam,Philippines,Honduras,Canada
1,ALASKA,AK,Philippines,Mexico,Korea,Thailand,Canada,Russia,Germany,Dominican Republic,"Oceania, nec",Laos
2,ARIZONA,AZ,Mexico,Canada,India,Philippines,China,Vietnam,Germany,Guatemala,Korea,Iraq
3,ARKANSAS,AR,Mexico,El Salvador,India,"Oceania, nec",Guatemala,Vietnam,China,Philippines,Laos,Germany
4,CALIFORNIA,CA,Mexico,Philippines,China,Vietnam,India,El Salvador,Korea,Guatemala,Iran,Taiwan

In [5]:
cuisines_df.head(5)

  population          cuisine_names  cuisine_id
0     Mexico  Mexico, Taco, Tex-Mex  73,997,150
1     Canada                 Canada         381
2      India                  India         148
3      China         China, Sichuan      25,128
4    Vietnam                Vietnam          99

### QUERY DATAFRAME

In [6]:
query_df = zcities_df.copy()
query_df = query_df.merge(cstates_df, on='state_code', how='left')
perc = query_df.population1.isna().sum()/len(query_df)
print(f'missing state merge percentage {perc}')

missing state merge percentage 0.0

In [7]:
query_df.head(5)

,zcity_id,city_query,state_code,state,population1,population2,population3,population4,population5,population6,population7,population8,population9,population10
0,276,Dallas TX,TX,TEXAS,Mexico,India,El Salvador,Vietnam,Honduras,China,Philippines,Guatemala,Nigeria,Pakistan
1,277,Houston TX,TX,TEXAS,Mexico,India,El Salvador,Vietnam,Honduras,China,Philippines,Guatemala,Nigeria,Pakistan
2,278,Austin TX,TX,TEXAS,Mexico,India,El Salvador,Vietnam,Honduras,China,Philippines,Guatemala,Nigeria,Pakistan
3,279,Seattle WA,WA,WASHINGTON,Mexico,India,Philippines,China,Vietnam,Korea,Canada,Ukraine,Russia,Germany
4,280,New York NY,NY,NEW YORK,Dominican Republic,China,Jamaica,Mexico,Ecuador,Guyana,India,Haiti,El Salvador,Colombia

In [8]:
query_df = pd.wide_to_long(query_df, stubnames='population',
                           i=['zcity_id', 'state_code'], j='top')
query_df = query_df.reset_index()
query_df.head(10)

   zcity_id state_code  top city_query  state   population
0       276         TX    1  Dallas TX  TEXAS       Mexico
1       276         TX    2  Dallas TX  TEXAS        India
2       276         TX    3  Dallas TX  TEXAS  El Salvador
3       276         TX    4  Dallas TX  TEXAS      Vietnam
4       276         TX    5  Dallas TX  TEXAS     Honduras
5       276         TX    6  Dallas TX  TEXAS        China
6       276         TX    7  Dallas TX  TEXAS  Philippines
7       276         TX    8  Dallas TX  TEXAS    Guatemala
8       276         TX    9  Dallas TX  TEXAS      Nigeria
9       276         TX   10  Dallas TX  TEXAS     Pakistan

In [9]:
query_df = query_df.reset_index()

In [10]:
query_df = query_df.merge(cuisines_df, on='population', how='left')
perc = query_df.cuisine_id.isna().sum()/len(query_df)
print(f'missing cuisine_id percentage {perc}')
check_missings = query_df[query_df.cuisine_id.isna()].population
check_missings = check_missings.unique()
query_df.head(10)

missing cuisine_id percentage 0.0

,index,zcity_id,state_code,top,city_query,state,population,cuisine_names,cuisine_id
0,0,276,TX,1,Dallas TX,TEXAS,Mexico,"Mexico, Taco, Tex-Mex","73,997,150"
1,1,276,TX,2,Dallas TX,TEXAS,India,India,148
2,2,276,TX,3,Dallas TX,TEXAS,El Salvador,El Salvador,601
3,3,276,TX,4,Dallas TX,TEXAS,Vietnam,Vietnam,99
4,4,276,TX,5,Dallas TX,TEXAS,Honduras,South America,972
5,5,276,TX,6,Dallas TX,TEXAS,China,"China, Sichuan","25,128"
6,5,276,TX,6,Dallas TX,TEXAS,China,"Hong Kong, Dim Sum","121, 411"
7,6,276,TX,7,Dallas TX,TEXAS,Philippines,Philippines,112
8,7,276,TX,8,Dallas TX,TEXAS,Guatemala,Guatemala,"972,136"
9,8,276,TX,9,Dallas TX,TEXAS,Nigeria,Nigeria,152

In [11]:
check_missings

array([], dtype=object)

### Zomato top populations/cuisines per city query

In [17]:
def zomato_city_restaurant_count_query(query_df, zconfig, api_key):
    zomato = Zomato(zconfig)
    response_df_path = f'../results/city_restaurant_count{api_key}.pkl'
    print(response_df_path)
    
    zcity_id_list = []
    cuisine_id_list = []
    json_list = []
    count_list = []
    query_list = []
    for i, row in query_df.iterrows():        
        # Security saves of Zomato calls
        if i>0 and (i % 10 == 0):
            time.sleep(5)
            response_df = pd.DataFrame.from_dict({'zcity_id': zcity_id_list, 
                                                  'cuisines': cuisine_id_list,
                                                  'json': json_list,
                                                  'query': query_list,
                                                  'counts': count_list})
            response_df.to_pickle(response_df_path)
        
        try:
            count, json, query = zomato.get_city_restaurant_count(city_ID=row.zcity_id,
                                                                  cuisines=row.cuisine_id)
            zcity_id_list += [row.zcity_id]
            cuisine_id_list += [row.cuisine_id]
            json_list += [json]
            count_list += [count]
            query_list += [query]
            
            print(f'{i} city: {row.zcity_id} cuisines: {row.cuisine_id} count: {count}')
        except:
            print(f"failed city query {row.city_query}")
            pass
    
    #Final save
    response_df = pd.DataFrame.from_dict({'zcity_id': zcity_id_list, 
                                          'cuisines': cuisine_id_list,
                                          'json': json_list,
                                          'query': query_list,
                                          'counts': count_list})
    response_df.to_pickle(response_df_path)
    return response_df

query_df1 = query_df[:500]
query_df2 = query_df[500:961]
query_df3 = query_df[961:1961]
query_df4 = query_df[1961:2960]
query_df5 = query_df[2960:3960]
query_df6 = query_df[3960:]
#city_restaurants_df = zomato_city_restaurant_count_query(query_df=query_df1, zconfig=zconfig1, api_key=1)
#city_restaurants_df = zomato_city_restaurant_count_query(query_df=query_df2, zconfig=zconfig2, api_key=2)
#city_restaurants_df = zomato_city_restaurant_count_query(query_df=query_df3, zconfig=zconfig3, api_key=3)
city_restaurants_df = zomato_city_restaurant_count_query(query_df=query_df4, zconfig=zconfig4, api_key=4)

../results/city_restaurant_count4.pkl
1961 city: 1168 cuisines: 972 count: 3
1962 city: 1168 cuisines: 25,128 count: 61
1963 city: 1168 cuisines: 121, 411 count: 0
1964 city: 1168 cuisines: 112 count: 2
1965 city: 1168 cuisines: 972,136 count: 451
1966 city: 1168 cuisines: 152 count: 1
1967 city: 1168 cuisines: 139 count: 0
1968 city: 1171 cuisines: 73,997,150 count: 77
1969 city: 1171 cuisines: 148 count: 2
1970 city: 1171 cuisines: 601 count: 0
1971 city: 1171 cuisines: 99 count: 10
1972 city: 1171 cuisines: 972 count: 0
1973 city: 1171 cuisines: 25,128 count: 28
1974 city: 1171 cuisines: 121, 411 count: 0
1975 city: 1171 cuisines: 112 count: 0
1976 city: 1171 cuisines: 972,136 count: 71
1977 city: 1171 cuisines: 152 count: 0
1978 city: 1171 cuisines: 139 count: 0
1979 city: 1174 cuisines: 73,997,150 count: 170
1980 city: 1174 cuisines: 148 count: 2
1981 city: 1174 cuisines: 601 count: 0
1982 city: 1174 cuisines: 99 count: 10
1983 city: 1174 cuisines: 972 count: 0
1984 city: 1174 cuisines: 25,128 count: 28
1985 city: 1174 cuisines: 121, 411 count: 1
1986 city: 1174 cuisines: 112 count: 4
1987 city: 1174 cuisines: 972,136 count: 159
1988 city: 1174 cuisines: 152 count: 0
1989 city: 1174 cuisines: 139 count: 0
1990 city: 1177 cuisines: 73,997,150 count: 138
1991 city: 1177 cuisines: 148 count: 0
1992 city: 1177 cuisines: 601 count: 0
1993 city: 1177 cuisines: 99 count: 1
1994 city: 1177 cuisines: 972 count: 0
1995 city: 1177 cuisines: 25,128 count: 11
1996 city: 1177 cuisines: 121, 411 count: 0
1997 city: 1177 cuisines: 112 count: 0
1998 city: 1177 cuisines: 972,136 count: 130
1999 city: 1177 cuisines: 152 count: 0
2000 city: 1177 cuisines: 139 count: 0
2001 city: 1180 cuisines: 73,997,150 count: 43
2002 city: 1180 cuisines: 148 count: 0
2003 city: 1180 cuisines: 601 count: 1
2004 city: 1180 cuisines: 99 count: 0
2005 city: 1180 cuisines: 972 count: 1
2006 city: 1180 cuisines: 25,128 count: 8
2007 city: 1180 cuisines: 121, 411 count: 0
2008 city: 1180 cuisines: 112 count: 0
2009 city: 1180 cuisines: 972,136 count: 40
2010 city: 1180 cuisines: 152 count: 0
2011 city: 1180 cuisines: 139 count: 0
2012 city: 1183 cuisines: 73,997,150 count: 28
2013 city: 1183 cuisines: 148 count: 2
2014 city: 1183 cuisines: 601 count: 0
2015 city: 1183 cuisines: 99 count: 3
2016 city: 1183 cuisines: 972 count: 0
2017 city: 1183 cuisines: 25,128 count: 7
2018 city: 1183 cuisines: 121, 411 count: 0
2019 city: 1183 cuisines: 112 count: 0
2020 city: 1183 cuisines: 972,136 count: 28
2021 city: 1183 cuisines: 152 count: 0
2022 city: 1183 cuisines: 139 count: 0
2023 city: 1186 cuisines: 73,997,150 count: 84
2024 city: 1186 cuisines: 148 count: 3
2025 city: 1186 cuisines: 601 count: 0
2026 city: 1186 cuisines: 99 count: 4
2027 city: 1186 cuisines: 972 count: 0
2028 city: 1186 cuisines: 25,128 count: 23
2029 city: 1186 cuisines: 121, 411 count: 0
2030 city: 1186 cuisines: 112 count: 0
2031 city: 1186 cuisines: 972,136 count: 80
2032 city: 1186 cuisines: 152 count: 1
2033 city: 1186 cuisines: 139 count: 0
2034 city: 1189 cuisines: 73,997,150 count: 105
2035 city: 1189 cuisines: 148 count: 2
2036 city: 1189 cuisines: 601 count: 0
2037 city: 1189 cuisines: 99 count: 3
2038 city: 1189 cuisines: 972 count: 0
2039 city: 1189 cuisines: 25,128 count: 19
2040 city: 1189 cuisines: 121, 411 count: 0
2041 city: 1189 cuisines: 112 count: 2
2042 city: 1189 cuisines: 972,136 count: 99
2043 city: 1189 cuisines: 152 count: 0
2044 city: 1189 cuisines: 139 count: 0
2045 city: 1192 cuisines: 73,997,150 count: 80
2046 city: 1192 cuisines: 148 count: 2
2047 city: 1192 cuisines: 601 count: 1
2048 city: 1192 cuisines: 99 count: 1
2049 city: 1192 cuisines: 972 count: 1
2050 city: 1192 cuisines: 25,128 count: 17
2051 city: 1192 cuisines: 121, 411 count: 0
2052 city: 1192 cuisines: 112 count: 0
2053 city: 1192 cuisines: 972,136 count: 74
2054 city: 1192 cuisines: 152 count: 0
2055 city: 1192 cuisines: 139 count: 1
2056 city: 1195 cuisines: 73,997,150 count: 64
2057 city: 1195 cuisines: 148 count: 1
2058 city: 1195 cuisines: 601 count: 1
2059 city: 1195 cuisines: 99 count: 2
2060 city: 1195 cuisines: 972 count: 0
2061 city: 1195 cuisines: 25,128 count: 13
2062 city: 1195 cuisines: 121, 411 count: 0
2063 city: 1195 cuisines: 112 count: 0
2064 city: 1195 cuisines: 972,136 count: 61
2065 city: 1195 cuisines: 152 count: 0
2066 city: 1195 cuisines: 139 count: 0
2067 city: 1198 cuisines: 73,997,150 count: 79
2068 city: 1198 cuisines: 148 count: 0
2069 city: 1198 cuisines: 601 count: 0
2070 city: 1198 cuisines: 99 count: 2
2071 city: 1198 cuisines: 972 count: 0
2072 city: 1198 cuisines: 25,128 count: 13
2073 city: 1198 cuisines: 121, 411 count: 0
2074 city: 1198 cuisines: 112 count: 0
2075 city: 1198 cuisines: 972,136 count: 74
2076 city: 1198 cuisines: 152 count: 0
2077 city: 1198 cuisines: 139 count: 0
2078 city: 1201 cuisines: 73,997,150 count: 69
2079 city: 1201 cuisines: 148 count: 2
2080 city: 1201 cuisines: 601 count: 0
2081 city: 1201 cuisines: 99 count: 8
2082 city: 1201 cuisines: 972 count: 0
2083 city: 1201 cuisines: 25,128 count: 23
2084 city: 1201 cuisines: 121, 411 count: 0
2085 city: 1201 cuisines: 112 count: 1
2086 city: 1201 cuisines: 972,136 count: 81
2087 city: 1201 cuisines: 152 count: 1
2088 city: 1201 cuisines: 139 count: 0
2089 city: 1204 cuisines: 73,997,150 count: 398
2090 city: 1204 cuisines: 148 count: 2
2091 city: 1204 cuisines: 601 count: 0
2092 city: 1204 cuisines: 99 count: 8
2093 city: 1204 cuisines: 972 count: 3
2094 city: 1204 cuisines: 25,128 count: 38
2095 city: 1204 cuisines: 121, 411 count: 0
2096 city: 1204 cuisines: 112 count: 2
2097 city: 1204 cuisines: 972,136 count: 291
2098 city: 1204 cuisines: 152 count: 0
2099 city: 1204 cuisines: 139 count: 0
2100 city: 1210 cuisines: 73,997,150 count: 41
2101 city: 1210 cuisines: 148 count: 0
2102 city: 1210 cuisines: 601 count: 0
2103 city: 1210 cuisines: 99 count: 1
2104 city: 1210 cuisines: 972 count: 0
2105 city: 1210 cuisines: 25,128 count: 10
2106 city: 1210 cuisines: 121, 411 count: 0
2107 city: 1210 cuisines: 112 count: 0
2108 city: 1210 cuisines: 972,136 count: 38
2109 city: 1210 cuisines: 152 count: 0
2110 city: 1210 cuisines: 139 count: 0
2111 city: 1213 cuisines: 73,997,150 count: 456
2112 city: 1213 cuisines: 381 count: 1
2113 city: 1213 cuisines: 148 count: 46
2114 city: 1213 cuisines: 601 count: 2
2115 city: 1213 cuisines: 25,128 count: 216
2116 city: 1213 cuisines: 121, 411 count: 10
2117 city: 1213 cuisines: 131, 961, 321 count: 1
2118 city: 1213 cuisines: 99 count: 58
2119 city: 1213 cuisines: 162 count: 5
2120 city: 1213 cuisines: 112 count: 3
2121 city: 1213 cuisines: 972,136 count: 490
2122 city: 1219 cuisines: 601 count: 0
2123 city: 1219 cuisines: 148 count: 21
2124 city: 1219 cuisines: 73,997,150 count: 154
2125 city: 1219 cuisines: 112 count: 2
2126 city: 1219 cuisines: 67 count: 17
2127 city: 1219 cuisines: 99 count: 18
2128 city: 1219 cuisines: 25,128 count: 186
2129 city: 1219 cuisines: 121, 411 count: 1
2130 city: 1219 cuisines: 972 count: 8
2131 city: 1219 cuisines: 972,136 count: 188
2132 city: 1219 cuisines: 149 count: 3
2133 city: 1222 cuisines: 601 count: 0
2134 city: 1222 cuisines: 148 count: 2
2135 city: 1222 cuisines: 73,997,150 count: 24
2136 city: 1222 cuisines: 112 count: 1
2137 city: 1222 cuisines: 67 count: 1
2138 city: 1222 cuisines: 99 count: 1
2139 city: 1222 cuisines: 25,128 count: 23
2140 city: 1222 cuisines: 121, 411 count: 0
2141 city: 1222 cuisines: 972 count: 1
2142 city: 1222 cuisines: 972,136 count: 25
2143 city: 1222 cuisines: 149 count: 1
2144 city: 1225 cuisines: 601 count: 0
2145 city: 1225 cuisines: 148 count: 3
2146 city: 1225 cuisines: 73,997,150 count: 43
2147 city: 1225 cuisines: 112 count: 0
2148 city: 1225 cuisines: 67 count: 1
2149 city: 1225 cuisines: 99 count: 5
2150 city: 1225 cuisines: 25,128 count: 48
2151 city: 1225 cuisines: 121, 411 count: 0
2152 city: 1225 cuisines: 972 count: 4
2153 city: 1225 cuisines: 972,136 count: 52
2154 city: 1225 cuisines: 149 count: 0
2155 city: 1228 cuisines: 601 count: 0
2156 city: 1228 cuisines: 148 count: 15
2157 city: 1228 cuisines: 73,997,150 count: 176
2158 city: 1228 cuisines: 112 count: 32
2159 city: 1228 cuisines: 67 count: 32

2160 city: 1228 cuisines: 99 count: 20
2161 city: 1228 cuisines: 25,128 count: 393
2162 city: 1228 cuisines: 121, 411 count: 3
2163 city: 1228 cuisines: 972 count: 10
2164 city: 1228 cuisines: 972,136 count: 222
2165 city: 1228 cuisines: 149 count: 1
2166 city: 1240 cuisines: 73,997,150 count: 114
2167 city: 1240 cuisines: 148 count: 4
2168 city: 1240 cuisines: 112 count: 0
2169 city: 1240 cuisines: 25,128 count: 47
2170 city: 1240 cuisines: 121, 411 count: 1
2171 city: 1240 cuisines: 99 count: 12
2172 city: 1240 cuisines: 67 count: 10
2173 city: 1240 cuisines: 381 count: 0
2174 city: 1240 cuisines: 451 count: 0
2175 city: 1240 cuisines: 84 count: 0
2176 city: 1240 cuisines: 134 count: 3
2177 city: 1246 cuisines: 73,997,150 count: 64
2178 city: 1246 cuisines: 148 count: 1
2179 city: 1246 cuisines: 112 count: 0
2180 city: 1246 cuisines: 25,128 count: 24
2181 city: 1246 cuisines: 121, 411 count: 1
2182 city: 1246 cuisines: 99 count: 2
2183 city: 1246 cuisines: 67 count: 2
2184 city: 1246 cuisines: 381 count: 0
2185 city: 1246 cuisines: 451 count: 0
2186 city: 1246 cuisines: 84 count: 0
2187 city: 1246 cuisines: 134 count: 0
2188 city: 1249 cuisines: 73,997,150 count: 160
2189 city: 1249 cuisines: 148 count: 12
2190 city: 1249 cuisines: 112 count: 6
2191 city: 1249 cuisines: 25,128 count: 85
2192 city: 1249 cuisines: 121, 411 count: 1
2193 city: 1249 cuisines: 99 count: 65
2194 city: 1249 cuisines: 67 count: 26
2195 city: 1249 cuisines: 381 count: 0
2196 city: 1249 cuisines: 451 count: 0
2197 city: 1249 cuisines: 84 count: 1
2198 city: 1249 cuisines: 134 count: 6
2199 city: 1252 cuisines: 73,997,150 count: 95
2200 city: 1252 cuisines: 148 count: 9
2201 city: 1252 cuisines: 112 count: 0
2202 city: 1252 cuisines: 25,128 count: 29
2203 city: 1252 cuisines: 121, 411 count: 0
2204 city: 1252 cuisines: 99 count: 12
2205 city: 1252 cuisines: 67 count: 5
2206 city: 1252 cuisines: 381 count: 0
2207 city: 1252 cuisines: 451 count: 0
2208 city: 1252 cuisines: 84 count: 0
2209 city: 1252 cuisines: 134 count: 5
2210 city: 1255 cuisines: 73,997,150 count: 16
2211 city: 1255 cuisines: 148 count: 1
2212 city: 1255 cuisines: 901 count: 0
2213 city: 1255 cuisines: 25,128 count: 17
2214 city: 1255 cuisines: 121, 411 count: 1
2215 city: 1255 cuisines: 95 count: 2
2216 city: 1255 cuisines: 134 count: 1
2217 city: 1255 cuisines: 112 count: 0
2218 city: 1255 cuisines: 381 count: 0
2219 city: 1255 cuisines: 67 count: 0
2220 city: 1255 cuisines: 219 count: 0
2221 city: 1258 cuisines: 73,997,150 count: 18
2222 city: 1258 cuisines: 148 count: 1
2223 city: 1258 cuisines: 901 count: 0
2224 city: 1258 cuisines: 25,128 count: 20
2225 city: 1258 cuisines: 121, 411 count: 0
2226 city: 1258 cuisines: 95 count: 2
2227 city: 1258 cuisines: 134 count: 4
2228 city: 1258 cuisines: 112 count: 1
2229 city: 1258 cuisines: 381 count: 0
2230 city: 1258 cuisines: 67 count: 0
2231 city: 1258 cuisines: 219 count: 0
2232 city: 1261 cuisines: 73,997,150 count: 18
2233 city: 1261 cuisines: 148 count: 1
2234 city: 1261 cuisines: 901 count: 0
2235 city: 1261 cuisines: 25,128 count: 12
2236 city: 1261 cuisines: 121, 411 count: 0
2237 city: 1261 cuisines: 95 count: 4
2238 city: 1261 cuisines: 134 count: 1
2239 city: 1261 cuisines: 112 count: 0
2240 city: 1261 cuisines: 381 count: 0
2241 city: 1261 cuisines: 67 count: 1
2242 city: 1261 cuisines: 219 count: 0
2243 city: 1264 cuisines: 73,997,150 count: 93
2244 city: 1264 cuisines: 148 count: 21
2245 city: 1264 cuisines: 901 count: 1
2246 city: 1264 cuisines: 25,128 count: 82
2247 city: 1264 cuisines: 121, 411 count: 3
2248 city: 1264 cuisines: 95 count: 22
2249 city: 1264 cuisines: 134 count: 8
2250 city: 1264 cuisines: 112 count: 0
2251 city: 1264 cuisines: 381 count: 0
2252 city: 1264 cuisines: 67 count: 5
2253 city: 1264 cuisines: 219 count: 0
2254 city: 1267 cuisines: 73,997,150 count: 232
2255 city: 1267 cuisines: 148 count: 25
2256 city: 1267 cuisines: 901 count: 1
2257 city: 1267 cuisines: 25,128 count: 177
2258 city: 1267 cuisines: 121, 411 count: 5
2259 city: 1267 cuisines: 95 count: 34
2260 city: 1267 cuisines: 134 count: 19
2261 city: 1267 cuisines: 112 count: 0
2262 city: 1267 cuisines: 381 count: 0
2263 city: 1267 cuisines: 67 count: 7
2264 city: 1267 cuisines: 219 count: 2
2265 city: 1273 cuisines: 73,997,150 count: 61
2266 city: 1273 cuisines: 148 count: 5
2267 city: 1273 cuisines: 901 count: 0
2268 city: 1273 cuisines: 25,128 count: 41
2269 city: 1273 cuisines: 121, 411 count: 0
2270 city: 1273 cuisines: 95 count: 12
2271 city: 1273 cuisines: 134 count: 5
2272 city: 1273 cuisines: 112 count: 0
2273 city: 1273 cuisines: 381 count: 0
2274 city: 1273 cuisines: 67 count: 2
2275 city: 1273 cuisines: 219 count: 0
2276 city: 1276 cuisines: 148 count: 2
2277 city: 1276 cuisines: 25,128 count: 23
2278 city: 1276 cuisines: 121, 411 count: 0
2279 city: 1276 cuisines: 112 count: 0
2280 city: 1276 cuisines: 73,997,150 count: 23
2281 city: 1276 cuisines: 134 count: 0
2282 city: 1276 cuisines: 381 count: 0
2283 city: 1276 cuisines: 298 count: 0
2284 city: 1276 cuisines: 60,177,964,320 count: 16
2285 city: 1276 cuisines: 140 count: 0
2286 city: 1276 cuisines: 99 count: 2
2287 city: 1291 cuisines: 73,997,150 count: 17
2288 city: 1291 cuisines: 112 count: 0
2289 city: 1291 cuisines: 381 count: 0
2290 city: 1291 cuisines: 972,136 count: 16
2291 city: 1291 cuisines: 134 count: 0
2292 city: 1291 cuisines: 25,128 count: 9
2293 city: 1291 cuisines: 121, 411 count: 0
2294 city: 1291 cuisines: 298 count: 0
2295 city: 1291 cuisines: 601 count: 0
2296 city: 1291 cuisines: 133,965 count: 0
2297 city: 1291 cuisines: 67 count: 1
2298 city: 1294 cuisines: 73,997,150 count: 15
2299 city: 1294 cuisines: 112 count: 0
2300 city: 1294 cuisines: 381 count: 0
2301 city: 1294 cuisines: 972,136 count: 16
2302 city: 1294 cuisines: 134 count: 0
2303 city: 1294 cuisines: 25,128 count: 11
2304 city: 1294 cuisines: 121, 411 count: 0
2305 city: 1294 cuisines: 298 count: 0
2306 city: 1294 cuisines: 601 count: 0
2307 city: 1294 cuisines: 133,965 count: 0
2308 city: 1294 cuisines: 67 count: 0
2309 city: 3750 cuisines: 148 count: 838
2310 city: 3750 cuisines: 958 count: 215
2311 city: 3750 cuisines: 73,997,150 count: 1951
2312 city: 3750 cuisines: 112 count: 78
2313 city: 3750 cuisines: 287 count: 184
2314 city: 3750 cuisines: 316 count: 71
2315 city: 3750 cuisines: 25,128 count: 4152
2316 city: 3750 cuisines: 121, 411 count: 179
2317 city: 3750 cuisines: 67 count: 452
2318 city: 3750 cuisines: 162 count: 227
2319 city: 3750 cuisines: 601 count: 67
2320 city: 3765 cuisines: 148 count: 824
2321 city: 3765 cuisines: 958 count: 214
2322 city: 3765 cuisines: 73,997,150 count: 1923
2323 city: 3765 cuisines: 112 count: 77
2324 city: 3765 cuisines: 287 count: 184
2325 city: 3765 cuisines: 316 count: 71
2326 city: 3765 cuisines: 25,128 count: 4115
2327 city: 3765 cuisines: 121, 411 count: 176
2328 city: 3765 cuisines: 67 count: 453
2329 city: 3765 cuisines: 162 count: 227
2330 city: 3765 cuisines: 601 count: 67
2331 city: 3768 cuisines: 148 count: 848
2332 city: 3768 cuisines: 958 count: 214
2333 city: 3768 cuisines: 73,997,150 count: 1856
2334 city: 3768 cuisines: 112 count: 84
2335 city: 3768 cuisines: 287 count: 182
2336 city: 3768 cuisines: 316 count: 71
2337 city: 3768 cuisines: 25,128 count: 4071
2338 city: 3768 cuisines: 121, 411 count: 174
2339 city: 3768 cuisines: 67 count: 439
2340 city: 3768 cuisines: 162 count: 220
2341 city: 3768 cuisines: 601 count: 66
2342 city: 3800 cuisines: 148 count: 847
2343 city: 3800 cuisines: 958 count: 214
2344 city: 3800 cuisines: 73,997,150 count: 1878
2345 city: 3800 cuisines: 112 count: 78
2346 city: 3800 cuisines: 287 count: 183
2347 city: 3800 cuisines: 316 count: 71
2348 city: 3800 cuisines: 25,128 count: 4079
2349 city: 3800 cuisines: 121, 411 count: 173
2350 city: 3800 cuisines: 67 count: 438
2351 city: 3800 cuisines: 162 count: 220
2352 city: 3800 cuisines: 601 count: 66
2353 city: 3816 cuisines: 148 count: 810
2354 city: 3816 cuisines: 958 count: 213
2355 city: 3816 cuisines: 73,997,150 count: 1886
2356 city: 3816 cuisines: 112 count: 76
2357 city: 3816 cuisines: 287 count: 184
2358 city: 3816 cuisines: 316 count: 71
2359 city: 3816 cuisines: 25,128 count: 4048

2360 city: 3816 cuisines: 121, 411 count: 175
2361 city: 3816 cuisines: 67 count: 449
2362 city: 3816 cuisines: 162 count: 223
2363 city: 3816 cuisines: 601 count: 67
2364 city: 3832 cuisines: 148 count: 819
2365 city: 3832 cuisines: 958 count: 214
2366 city: 3832 cuisines: 73,997,150 count: 1916
2367 city: 3832 cuisines: 112 count: 77
2368 city: 3832 cuisines: 287 count: 184
2369 city: 3832 cuisines: 316 count: 71
2370 city: 3832 cuisines: 25,128 count: 4089
2371 city: 3832 cuisines: 121, 411 count: 176
2372 city: 3832 cuisines: 67 count: 453
2373 city: 3832 cuisines: 162 count: 227
2374 city: 3832 cuisines: 601 count: 67
2375 city: 3895 cuisines: 148 count: 856
2376 city: 3895 cuisines: 958 count: 215
2377 city: 3895 cuisines: 73,997,150 count: 1956
2378 city: 3895 cuisines: 112 count: 83
2379 city: 3895 cuisines: 287 count: 184
2380 city: 3895 cuisines: 316 count: 71
2381 city: 3895 cuisines: 25,128 count: 4203
2382 city: 3895 cuisines: 121, 411 count: 181
2383 city: 3895 cuisines: 67 count: 454
2384 city: 3895 cuisines: 162 count: 227
2385 city: 3895 cuisines: 601 count: 67
2386 city: 3897 cuisines: 148 count: 819
2387 city: 3897 cuisines: 958 count: 214
2388 city: 3897 cuisines: 73,997,150 count: 1922
2389 city: 3897 cuisines: 112 count: 77
2390 city: 3897 cuisines: 287 count: 184
2391 city: 3897 cuisines: 316 count: 71
2392 city: 3897 cuisines: 25,128 count: 4091
2393 city: 3897 cuisines: 121, 411 count: 178
2394 city: 3897 cuisines: 67 count: 451
2395 city: 3897 cuisines: 162 count: 225
2396 city: 3897 cuisines: 601 count: 67
2397 city: 3908 cuisines: 148 count: 860
2398 city: 3908 cuisines: 958 count: 215
2399 city: 3908 cuisines: 73,997,150 count: 1980
2400 city: 3908 cuisines: 112 count: 83
2401 city: 3908 cuisines: 287 count: 184
2402 city: 3908 cuisines: 316 count: 71
2403 city: 3908 cuisines: 25,128 count: 4243
2404 city: 3908 cuisines: 121, 411 count: 181
2405 city: 3908 cuisines: 67 count: 453
2406 city: 3908 cuisines: 162 count: 228
2407 city: 3908 cuisines: 601 count: 67
2408 city: 3947 cuisines: 148 count: 824
2409 city: 3947 cuisines: 958 count: 214
2410 city: 3947 cuisines: 73,997,150 count: 1932
2411 city: 3947 cuisines: 112 count: 78
2412 city: 3947 cuisines: 287 count: 184
2413 city: 3947 cuisines: 316 count: 71
2414 city: 3947 cuisines: 25,128 count: 4130
2415 city: 3947 cuisines: 121, 411 count: 179
2416 city: 3947 cuisines: 67 count: 452
2417 city: 3947 cuisines: 162 count: 227
2418 city: 3947 cuisines: 601 count: 67
2419 city: 3948 cuisines: 148 count: 211
2420 city: 3948 cuisines: 958 count: 4
2421 city: 3948 cuisines: 73,997,150 count: 321
2422 city: 3948 cuisines: 112 count: 15
2423 city: 3948 cuisines: 287 count: 3
2424 city: 3948 cuisines: 316 count: 0
2425 city: 3948 cuisines: 25,128 count: 1061
2426 city: 3948 cuisines: 121, 411 count: 17
2427 city: 3948 cuisines: 67 count: 58
2428 city: 3948 cuisines: 162 count: 13
2429 city: 3948 cuisines: 601 count: 0
2430 city: 3959 cuisines: 148 count: 841
2431 city: 3959 cuisines: 958 count: 215
2432 city: 3959 cuisines: 73,997,150 count: 1961
2433 city: 3959 cuisines: 112 count: 79
2434 city: 3959 cuisines: 287 count: 184
2435 city: 3959 cuisines: 316 count: 71
2436 city: 3959 cuisines: 25,128 count: 4183
2437 city: 3959 cuisines: 121, 411 count: 181
2438 city: 3959 cuisines: 67 count: 453
2439 city: 3959 cuisines: 162 count: 227
2440 city: 3959 cuisines: 601 count: 67
2441 city: 3976 cuisines: 148 count: 857
2442 city: 3976 cuisines: 958 count: 215
2443 city: 3976 cuisines: 73,997,150 count: 1957
2444 city: 3976 cuisines: 112 count: 83
2445 city: 3976 cuisines: 287 count: 184
2446 city: 3976 cuisines: 316 count: 71
2447 city: 3976 cuisines: 25,128 count: 4214
2448 city: 3976 cuisines: 121, 411 count: 181
2449 city: 3976 cuisines: 67 count: 454
2450 city: 3976 cuisines: 162 count: 227
2451 city: 3976 cuisines: 601 count: 67
2452 city: 3990 cuisines: 148 count: 836
2453 city: 3990 cuisines: 958 count: 214
2454 city: 3990 cuisines: 73,997,150 count: 1861
2455 city: 3990 cuisines: 112 count: 83
2456 city: 3990 cuisines: 287 count: 182
2457 city: 3990 cuisines: 316 count: 71
2458 city: 3990 cuisines: 25,128 count: 4069
2459 city: 3990 cuisines: 121, 411 count: 175
2460 city: 3990 cuisines: 67 count: 448
2461 city: 3990 cuisines: 162 count: 220
2462 city: 3990 cuisines: 601 count: 66
2463 city: 3992 cuisines: 148 count: 831
2464 city: 3992 cuisines: 958 count: 211
2465 city: 3992 cuisines: 73,997,150 count: 1818
2466 city: 3992 cuisines: 112 count: 76
2467 city: 3992 cuisines: 287 count: 178
2468 city: 3992 cuisines: 316 count: 70
2469 city: 3992 cuisines: 25,128 count: 3936
2470 city: 3992 cuisines: 121, 411 count: 169
2471 city: 3992 cuisines: 67 count: 373
2472 city: 3992 cuisines: 162 count: 203
2473 city: 3992 cuisines: 601 count: 64
2474 city: 4120 cuisines: 73,997,150 count: 27
2475 city: 4120 cuisines: 972,136 count: 27
2476 city: 4120 cuisines: 67 count: 5
2477 city: 4120 cuisines: 148 count: 1
2478 city: 4120 cuisines: 25,128 count: 26
2479 city: 4120 cuisines: 121, 411 count: 0
2480 city: 4120 cuisines: 134 count: 2
2481 city: 4120 cuisines: 99 count: 1
2482 city: 4120 cuisines: 112 count: 0
2483 city: 4120 cuisines: 972 count: 0
2484 city: 4120 cuisines: 381 count: 0
2485 city: 4293 cuisines: 73,997,150 count: 24
2486 city: 4293 cuisines: 601 count: 0
2487 city: 4293 cuisines: 148 count: 0
2488 city: 4293 cuisines: 131, 961, 321 count: 0
2489 city: 4293 cuisines: 972,136 count: 25
2490 city: 4293 cuisines: 99 count: 0
2491 city: 4293 cuisines: 25,128 count: 8
2492 city: 4293 cuisines: 121, 411 count: 0
2493 city: 4293 cuisines: 112 count: 0
2494 city: 4293 cuisines: 901 count: 0
2495 city: 4293 cuisines: 134 count: 0
2496 city: 4363 cuisines: 73,997,150 count: 22
2497 city: 4363 cuisines: 381 count: 0
2498 city: 4363 cuisines: 148 count: 0
2499 city: 4363 cuisines: 112 count: 0
2500 city: 4363 cuisines: 25,128 count: 6
2501 city: 4363 cuisines: 121, 411 count: 0
2502 city: 4363 cuisines: 99 count: 0
2503 city: 4363 cuisines: 134 count: 0
2504 city: 4363 cuisines: 972,136 count: 23
2505 city: 4363 cuisines: 67 count: 0
2506 city: 4363 cuisines: 137 count: 0
2507 city: 4399 cuisines: 73,997,150 count: 23
2508 city: 4399 cuisines: 381 count: 0
2509 city: 4399 cuisines: 148 count: 1
2510 city: 4399 cuisines: 112 count: 0
2511 city: 4399 cuisines: 25,128 count: 7
2512 city: 4399 cuisines: 121, 411 count: 0
2513 city: 4399 cuisines: 99 count: 0
2514 city: 4399 cuisines: 134 count: 1
2515 city: 4399 cuisines: 972,136 count: 22
2516 city: 4399 cuisines: 67 count: 1
2517 city: 4399 cuisines: 137 count: 0
2518 city: 4567 cuisines: 153 count: 0
2519 city: 4567 cuisines: 158 count: 14
2520 city: 4567 cuisines: 73,997,150 count: 27
2521 city: 4567 cuisines: 287 count: 0
2522 city: 4567 cuisines: 207 count: 1
2523 city: 4567 cuisines: 641 count: 0
2524 city: 4567 cuisines: 958 count: 0
2525 city: 4567 cuisines: 381 count: 0
2526 city: 4567 cuisines: 962 count: 0
2527 city: 4567 cuisines: 972 count: 0
2528 city: 4606 cuisines: 153 count: 1
2529 city: 4606 cuisines: 158 count: 9
2530 city: 4606 cuisines: 73,997,150 count: 27
2531 city: 4606 cuisines: 287 count: 1
2532 city: 4606 cuisines: 207 count: 0
2533 city: 4606 cuisines: 641 count: 0
2534 city: 4606 cuisines: 958 count: 1
2535 city: 4606 cuisines: 381 count: 0
2536 city: 4606 cuisines: 962 count: 0
2537 city: 4606 cuisines: 972 count: 2
2538 city: 5453 cuisines: 73,997,150 count: 25
2539 city: 5453 cuisines: 148 count: 0
2540 city: 5453 cuisines: 25,128 count: 16
2541 city: 5453 cuisines: 121, 411 count: 0
2542 city: 5453 cuisines: 22 count: 0
2543 city: 5453 cuisines: 112 count: 1
2544 city: 5453 cuisines: 601 count: 0
2545 city: 5453 cuisines: 67 count: 0
2546 city: 5453 cuisines: 134 count: 1
2547 city: 5453 cuisines: 381 count: 0
2548 city: 5453 cuisines: 972,136 count: 24
2549 city: 5546 cuisines: 73,997,150 count: 2000
2550 city: 5546 cuisines: 148 count: 219
2551 city: 5546 cuisines: 25,128 count: 1018
2552 city: 5546 cuisines: 121, 411 count: 35
2553 city: 5546 cuisines: 22 count: 0
2554 city: 5546 cuisines: 112 count: 33
2555 city: 5546 cuisines: 601 count: 5
2556 city: 5546 cuisines: 67 count: 128
2557 city: 5546 cuisines: 134 count: 31

2558 city: 5546 cuisines: 381 count: 0
2559 city: 5546 cuisines: 972,136 count: 2156
2560 city: 5554 cuisines: 73,997,150 count: 2010
2561 city: 5554 cuisines: 148 count: 220
2562 city: 5554 cuisines: 25,128 count: 1021
2563 city: 5554 cuisines: 121, 411 count: 35
2564 city: 5554 cuisines: 22 count: 0
2565 city: 5554 cuisines: 112 count: 33
2566 city: 5554 cuisines: 601 count: 5
2567 city: 5554 cuisines: 67 count: 128
2568 city: 5554 cuisines: 134 count: 31
2569 city: 5554 cuisines: 381 count: 0
2570 city: 5554 cuisines: 972,136 count: 2166
2571 city: 5649 cuisines: 73,997,150 count: 70
2572 city: 5649 cuisines: 148 count: 6
2573 city: 5649 cuisines: 99 count: 4
2574 city: 5649 cuisines: 25,128 count: 34
2575 city: 5649 cuisines: 121, 411 count: 0
2576 city: 5649 cuisines: 972,136 count: 70
2577 city: 5649 cuisines: 112 count: 0
2578 city: 5649 cuisines: 601 count: 0
2579 city: 5649 cuisines: 67 count: 5
2580 city: 5649 cuisines: 134 count: 0
2581 city: 5649 cuisines: 152 count: 0
2582 city: 5672 cuisines: 73,997,150 count: 20
2583 city: 5672 cuisines: 148 count: 1
2584 city: 5672 cuisines: 99 count: 0
2585 city: 5672 cuisines: 25,128 count: 16
2586 city: 5672 cuisines: 121, 411 count: 0
2587 city: 5672 cuisines: 972,136 count: 22
2588 city: 5672 cuisines: 112 count: 0
2589 city: 5672 cuisines: 601 count: 0
2590 city: 5672 cuisines: 67 count: 2
2591 city: 5672 cuisines: 134 count: 0
2592 city: 5672 cuisines: 152 count: 0
2593 city: 5804 cuisines: 73,997,150 count: 56
2594 city: 5804 cuisines: 148 count: 2
2595 city: 5804 cuisines: 153 count: 0
2596 city: 5804 cuisines: 25,128 count: 34
2597 city: 5804 cuisines: 121, 411 count: 1
2598 city: 5804 cuisines: 972,136 count: 52
2599 city: 5804 cuisines: 112 count: 0
2600 city: 5804 cuisines: 134 count: 2
2601 city: 5804 cuisines: 99 count: 3
2602 city: 5804 cuisines: 67 count: 3
2603 city: 5804 cuisines: 651 count: 0
2604 city: 5963 cuisines: 25,128 count: 822
2605 city: 5963 cuisines: 121, 411 count: 22
2606 city: 5963 cuisines: 958 count: 6
2607 city: 5963 cuisines: 148 count: 127
2608 city: 5963 cuisines: 159 count: 68
2609 city: 5963 cuisines: 158 count: 76
2610 city: 5963 cuisines: 87 count: 23
2611 city: 5963 cuisines: 601 count: 10
2612 city: 5963 cuisines: 99 count: 92
2613 city: 5963 cuisines: 381 count: 0
2614 city: 5963 cuisines: 972,136 count: 556
2615 city: 5965 cuisines: 25,128 count: 822
2616 city: 5965 cuisines: 121, 411 count: 22
2617 city: 5965 cuisines: 958 count: 6
2618 city: 5965 cuisines: 148 count: 127
2619 city: 5965 cuisines: 159 count: 68
2620 city: 5965 cuisines: 158 count: 76
2621 city: 5965 cuisines: 87 count: 23
2622 city: 5965 cuisines: 601 count: 10
2623 city: 5965 cuisines: 99 count: 92
2624 city: 5965 cuisines: 381 count: 0
2625 city: 5965 cuisines: 972,136 count: 556
2626 city: 5966 cuisines: 25,128 count: 823
2627 city: 5966 cuisines: 121, 411 count: 22
2628 city: 5966 cuisines: 958 count: 6
2629 city: 5966 cuisines: 148 count: 128
2630 city: 5966 cuisines: 159 count: 68
2631 city: 5966 cuisines: 158 count: 77
2632 city: 5966 cuisines: 87 count: 23
2633 city: 5966 cuisines: 601 count: 10
2634 city: 5966 cuisines: 99 count: 93
2635 city: 5966 cuisines: 381 count: 0
2636 city: 5966 cuisines: 972,136 count: 567
2637 city: 5974 cuisines: 25,128 count: 138
2638 city: 5974 cuisines: 121, 411 count: 1
2639 city: 5974 cuisines: 958 count: 0
2640 city: 5974 cuisines: 148 count: 12
2641 city: 5974 cuisines: 159 count: 2
2642 city: 5974 cuisines: 158 count: 8
2643 city: 5974 cuisines: 87 count: 0
2644 city: 5974 cuisines: 601 count: 1
2645 city: 5974 cuisines: 99 count: 13
2646 city: 5974 cuisines: 381 count: 0
2647 city: 5974 cuisines: 972,136 count: 45
2648 city: 6007 cuisines: 25,128 count: 851
2649 city: 6007 cuisines: 121, 411 count: 23
2650 city: 6007 cuisines: 958 count: 6
2651 city: 6007 cuisines: 148 count: 133
2652 city: 6007 cuisines: 159 count: 69
2653 city: 6007 cuisines: 158 count: 77
2654 city: 6007 cuisines: 87 count: 23
2655 city: 6007 cuisines: 601 count: 10
2656 city: 6007 cuisines: 99 count: 93
2657 city: 6007 cuisines: 381 count: 0
2658 city: 6007 cuisines: 972,136 count: 569
2659 city: 6027 cuisines: 25,128 count: 322
2660 city: 6027 cuisines: 121, 411 count: 2
2661 city: 6027 cuisines: 958 count: 2
2662 city: 6027 cuisines: 148 count: 42
2663 city: 6027 cuisines: 159 count: 5
2664 city: 6027 cuisines: 158 count: 44
2665 city: 6027 cuisines: 87 count: 17
2666 city: 6027 cuisines: 601 count: 0
2667 city: 6027 cuisines: 99 count: 31
2668 city: 6027 cuisines: 381 count: 0
2669 city: 6027 cuisines: 972,136 count: 174
2670 city: 6036 cuisines: 25,128 count: 318
2671 city: 6036 cuisines: 121, 411 count: 2
2672 city: 6036 cuisines: 958 count: 2
2673 city: 6036 cuisines: 148 count: 41
2674 city: 6036 cuisines: 159 count: 5
2675 city: 6036 cuisines: 158 count: 44
2676 city: 6036 cuisines: 87 count: 17
2677 city: 6036 cuisines: 601 count: 0
2678 city: 6036 cuisines: 99 count: 31
2679 city: 6036 cuisines: 381 count: 0
2680 city: 6036 cuisines: 972,136 count: 174
2681 city: 6086 cuisines: 601 count: 1
2682 city: 6086 cuisines: 148 count: 7
2683 city: 6086 cuisines: 25,128 count: 52
2684 city: 6086 cuisines: 121, 411 count: 0
2685 city: 6086 cuisines: 73,997,150 count: 57
2686 city: 6086 cuisines: 112 count: 0
2687 city: 6086 cuisines: 152 count: 1
2688 city: 6086 cuisines: 67 count: 1
2689 city: 6086 cuisines: 972,136 count: 62
2690 city: 6086 cuisines: 207 count: 0
2691 city: 6086 cuisines: 149 count: 0
2692 city: 6294 cuisines: 73,997,150 count: 4
2693 city: 6294 cuisines: 148 count: 0
2694 city: 6294 cuisines: 137 count: 0
2695 city: 6294 cuisines: 25,128 count: 3
2696 city: 6294 cuisines: 121, 411 count: 0
2697 city: 6294 cuisines: 381 count: 0
2698 city: 6294 cuisines: 66 count: 0
2699 city: 6294 cuisines: 112 count: 0
2700 city: 6294 cuisines: 67 count: 0
2701 city: 6294 cuisines: 134 count: 1
2702 city: 6294 cuisines: 137 count: 0
2703 city: 6550 cuisines: 73,997,150 count: 18
2704 city: 6550 cuisines: 152 count: 0
2705 city: 6550 cuisines: 148 count: 2
2706 city: 6550 cuisines: 901 count: 0
2707 city: 6550 cuisines: 149 count: 0
2708 city: 6550 cuisines: 99 count: 1
2709 city: 6550 cuisines: 25,128 count: 14
2710 city: 6550 cuisines: 121, 411 count: 0
2711 city: 6550 cuisines: 95 count: 1
2712 city: 6550 cuisines: 67 count: 0
2713 city: 6550 cuisines: 152 count: 0
2714 city: 7164 cuisines: 73,997,150 count: 18
2715 city: 7164 cuisines: 148 count: 0
2716 city: 7164 cuisines: 972 count: 0
2717 city: 7164 cuisines: 601 count: 0
2718 city: 7164 cuisines: 25,128 count: 20
2719 city: 7164 cuisines: 121, 411 count: 1
2720 city: 7164 cuisines: 99 count: 0
2721 city: 7164 cuisines: 381 count: 0
2722 city: 7164 cuisines: 972,136 count: 19
2723 city: 7164 cuisines: 112 count: 0
2724 city: 7164 cuisines: 134 count: 0
2725 city: 7412 cuisines: 73,997,150 count: 22
2726 city: 7412 cuisines: 972,136 count: 21
2727 city: 7412 cuisines: 148 count: 0
2728 city: 7412 cuisines: 99 count: 1
2729 city: 7412 cuisines: 601 count: 0
2730 city: 7412 cuisines: 25,128 count: 7
2731 city: 7412 cuisines: 121, 411 count: 0
2732 city: 7412 cuisines: 22 count: 0
2733 city: 7412 cuisines: 153 count: 1
2734 city: 7412 cuisines: 112 count: 0
2735 city: 7412 cuisines: 67 count: 0
2736 city: 7905 cuisines: 73,997,150 count: 111
2737 city: 7905 cuisines: 112 count: 0
2738 city: 7905 cuisines: 25,128 count: 30
2739 city: 7905 cuisines: 121, 411 count: 0
2740 city: 7905 cuisines: 99 count: 2
2741 city: 7905 cuisines: 148 count: 4
2742 city: 7905 cuisines: 601 count: 0
2743 city: 7905 cuisines: 67 count: 0
2744 city: 7905 cuisines: 972,136 count: 121
2745 city: 7905 cuisines: 140 count: 0
2746 city: 7905 cuisines: 190 count: 0
2747 city: 7955 cuisines: 73,997,150 count: 125
2748 city: 7955 cuisines: 112 count: 0
2749 city: 7955 cuisines: 25,128 count: 32
2750 city: 7955 cuisines: 121, 411 count: 0
2751 city: 7955 cuisines: 99 count: 2
2752 city: 7955 cuisines: 148 count: 6
2753 city: 7955 cuisines: 601 count: 0
2754 city: 7955 cuisines: 67 count: 0
2755 city: 7955 cuisines: 972,136 count: 134
2756 city: 7955 cuisines: 140 count: 0
2757 city: 7955 cuisines: 190 count: 0
2758 city: 8181 cuisines: 73,997,150 count: 14

2759 city: 8181 cuisines: 99 count: 0
2760 city: 8181 cuisines: 148 count: 1
2761 city: 8181 cuisines: 972,136 count: 13
2762 city: 8181 cuisines: 25,128 count: 4
2763 city: 8181 cuisines: 121, 411 count: 0
2764 city: 8181 cuisines: 112 count: 0
2765 city: 8181 cuisines: 67 count: 1
2766 city: 8181 cuisines: 134 count: 1
2767 city: 8181 cuisines: 972 count: 0
2768 city: 8181 cuisines: 381 count: 0
2769 city: 8279 cuisines: 73,997,150 count: 21
2770 city: 8279 cuisines: 99 count: 0
2771 city: 8279 cuisines: 148 count: 1
2772 city: 8279 cuisines: 972,136 count: 20
2773 city: 8279 cuisines: 25,128 count: 7
2774 city: 8279 cuisines: 121, 411 count: 0
2775 city: 8279 cuisines: 112 count: 0
2776 city: 8279 cuisines: 67 count: 0
2777 city: 8279 cuisines: 134 count: 0
2778 city: 8279 cuisines: 972 count: 1
2779 city: 8279 cuisines: 381 count: 0
2780 city: 8340 cuisines: 73,997,150 count: 172
2781 city: 8340 cuisines: 99 count: 12
2782 city: 8340 cuisines: 25,128 count: 62
2783 city: 8340 cuisines: 121, 411 count: 3
2784 city: 8340 cuisines: 148 count: 6
2785 city: 8340 cuisines: 381 count: 0
2786 city: 8340 cuisines: 112 count: 1
2787 city: 8340 cuisines: 67 count: 9
2788 city: 8340 cuisines: 451 count: 0
2789 city: 8340 cuisines: 134 count: 6
2790 city: 8340 cuisines: 60,177,964,320 count: 55
2791 city: 8348 cuisines: 73,997,150 count: 172
2792 city: 8348 cuisines: 99 count: 12
2793 city: 8348 cuisines: 25,128 count: 61
2794 city: 8348 cuisines: 121, 411 count: 3
2795 city: 8348 cuisines: 148 count: 6
2796 city: 8348 cuisines: 381 count: 0
2797 city: 8348 cuisines: 112 count: 1
2798 city: 8348 cuisines: 67 count: 9
2799 city: 8348 cuisines: 451 count: 0
2800 city: 8348 cuisines: 134 count: 6
2801 city: 8348 cuisines: 60,177,964,320 count: 55
2802 city: 8445 cuisines: 148 count: 0
2803 city: 8445 cuisines: 25,128 count: 9
2804 city: 8445 cuisines: 121, 411 count: 0
2805 city: 8445 cuisines: 958 count: 0
2806 city: 8445 cuisines: 73,997,150 count: 3
2807 city: 8445 cuisines: 99 count: 0
2808 city: 8445 cuisines: 67 count: 0
2809 city: 8445 cuisines: 207 count: 0
2810 city: 8445 cuisines: 112 count: 0
2811 city: 8445 cuisines: 134 count: 1
2812 city: 8445 cuisines: 451 count: 0
2813 city: 8885 cuisines: 148 count: 22
2814 city: 8885 cuisines: 958 count: 1
2815 city: 8885 cuisines: 73,997,150 count: 75
2816 city: 8885 cuisines: 112 count: 4
2817 city: 8885 cuisines: 287 count: 0
2818 city: 8885 cuisines: 316 count: 0
2819 city: 8885 cuisines: 25,128 count: 214
2820 city: 8885 cuisines: 121, 411 count: 2
2821 city: 8885 cuisines: 67 count: 5
2822 city: 8885 cuisines: 162 count: 0
2823 city: 8885 cuisines: 601 count: 1
2824 city: 9165 cuisines: 73,997,150 count: 29
2825 city: 9165 cuisines: 148 count: 0
2826 city: 9165 cuisines: 601 count: 0
2827 city: 9165 cuisines: 99 count: 4
2828 city: 9165 cuisines: 972 count: 0
2829 city: 9165 cuisines: 25,128 count: 9
2830 city: 9165 cuisines: 121, 411 count: 0
2831 city: 9165 cuisines: 112 count: 0
2832 city: 9165 cuisines: 972,136 count: 28
2833 city: 9165 cuisines: 152 count: 0
2834 city: 9165 cuisines: 139 count: 0
2835 city: 9244 cuisines: 73,997,150 count: 64
2836 city: 9244 cuisines: 148 count: 1
2837 city: 9244 cuisines: 601 count: 0
2838 city: 9244 cuisines: 99 count: 1
2839 city: 9244 cuisines: 972 count: 0
2840 city: 9244 cuisines: 25,128 count: 14
2841 city: 9244 cuisines: 121, 411 count: 0
2842 city: 9244 cuisines: 112 count: 0
2843 city: 9244 cuisines: 972,136 count: 46
2844 city: 9244 cuisines: 152 count: 1
2845 city: 9244 cuisines: 139 count: 0
2846 city: 9334 cuisines: 73,997,150 count: 20
2847 city: 9334 cuisines: 148 count: 0
2848 city: 9334 cuisines: 601 count: 0
2849 city: 9334 cuisines: 99 count: 0
2850 city: 9334 cuisines: 972 count: 0
2851 city: 9334 cuisines: 25,128 count: 4
2852 city: 9334 cuisines: 121, 411 count: 0
2853 city: 9334 cuisines: 112 count: 0
2854 city: 9334 cuisines: 972,136 count: 17
2855 city: 9334 cuisines: 152 count: 0
2856 city: 9334 cuisines: 139 count: 0
2857 city: 9440 cuisines: 73,997,150 count: 3
2858 city: 9440 cuisines: 148 count: 0
2859 city: 9440 cuisines: 601 count: 0
2860 city: 9440 cuisines: 99 count: 1
2861 city: 9440 cuisines: 972 count: 0
2862 city: 9440 cuisines: 25,128 count: 1
2863 city: 9440 cuisines: 121, 411 count: 0
2864 city: 9440 cuisines: 112 count: 0
2865 city: 9440 cuisines: 972,136 count: 3
2866 city: 9440 cuisines: 152 count: 0
2867 city: 9440 cuisines: 139 count: 0
2868 city: 9655 cuisines: 73,997,150 count: 34
2869 city: 9655 cuisines: 381 count: 0
2870 city: 9655 cuisines: 148 count: 1
2871 city: 9655 cuisines: 601 count: 0
2872 city: 9655 cuisines: 25,128 count: 8
2873 city: 9655 cuisines: 121, 411 count: 0
2874 city: 9655 cuisines: 131, 961, 321 count: 0
2875 city: 9655 cuisines: 99 count: 1
2876 city: 9655 cuisines: 162 count: 1
2877 city: 9655 cuisines: 112 count: 0
2878 city: 9655 cuisines: 972,136 count: 37
2879 city: 9661 cuisines: 73,997,150 count: 26
2880 city: 9661 cuisines: 381 count: 0
2881 city: 9661 cuisines: 148 count: 2
2882 city: 9661 cuisines: 601 count: 1
2883 city: 9661 cuisines: 25,128 count: 10
2884 city: 9661 cuisines: 121, 411 count: 0
2885 city: 9661 cuisines: 131, 961, 321 count: 0
2886 city: 9661 cuisines: 99 count: 1
2887 city: 9661 cuisines: 162 count: 0
2888 city: 9661 cuisines: 112 count: 0
2889 city: 9661 cuisines: 972,136 count: 27
2890 city: 9762 cuisines: 601 count: 0
2891 city: 9762 cuisines: 148 count: 4
2892 city: 9762 cuisines: 73,997,150 count: 28
2893 city: 9762 cuisines: 112 count: 0
2894 city: 9762 cuisines: 67 count: 1
2895 city: 9762 cuisines: 99 count: 3
2896 city: 9762 cuisines: 25,128 count: 23
2897 city: 9762 cuisines: 121, 411 count: 0
2898 city: 9762 cuisines: 972 count: 2
2899 city: 9762 cuisines: 972,136 count: 32
2900 city: 9762 cuisines: 149 count: 0
2901 city: 9983 cuisines: 73,997,150 count: 75
2902 city: 9983 cuisines: 148 count: 2
2903 city: 9983 cuisines: 112 count: 1
2904 city: 9983 cuisines: 25,128 count: 25
2905 city: 9983 cuisines: 121, 411 count: 0
2906 city: 9983 cuisines: 99 count: 4
2907 city: 9983 cuisines: 67 count: 5
2908 city: 9983 cuisines: 381 count: 0
2909 city: 9983 cuisines: 451 count: 0
2910 city: 9983 cuisines: 84 count: 0
2911 city: 9983 cuisines: 134 count: 0
2912 city: 9985 cuisines: 73,997,150 count: 71
2913 city: 9985 cuisines: 148 count: 2
2914 city: 9985 cuisines: 112 count: 1
2915 city: 9985 cuisines: 25,128 count: 24
2916 city: 9985 cuisines: 121, 411 count: 0
2917 city: 9985 cuisines: 99 count: 4
2918 city: 9985 cuisines: 67 count: 5
2919 city: 9985 cuisines: 381 count: 0
2920 city: 9985 cuisines: 451 count: 0
2921 city: 9985 cuisines: 84 count: 0
2922 city: 9985 cuisines: 134 count: 0
2923 city: 9986 cuisines: 73,997,150 count: 71
2924 city: 9986 cuisines: 148 count: 2
2925 city: 9986 cuisines: 112 count: 1
2926 city: 9986 cuisines: 25,128 count: 24
2927 city: 9986 cuisines: 121, 411 count: 0
2928 city: 9986 cuisines: 99 count: 4
2929 city: 9986 cuisines: 67 count: 5
2930 city: 9986 cuisines: 381 count: 0
2931 city: 9986 cuisines: 451 count: 0
2932 city: 9986 cuisines: 84 count: 0
2933 city: 9986 cuisines: 134 count: 0
2934 city: 10331 cuisines: 73,997,150 count: 87
2935 city: 10331 cuisines: 148 count: 1
2936 city: 10331 cuisines: 901 count: 0
2937 city: 10331 cuisines: 25,128 count: 68
2938 city: 10331 cuisines: 121, 411 count: 0
2939 city: 10331 cuisines: 95 count: 9
2940 city: 10331 cuisines: 134 count: 4
2941 city: 10331 cuisines: 112 count: 0
2942 city: 10331 cuisines: 381 count: 0
2943 city: 10331 cuisines: 67 count: 1
2944 city: 10331 cuisines: 219 count: 0
2945 city: 10506 cuisines: 73,997,150 count: 12
2946 city: 10506 cuisines: 152 count: 0
2947 city: 10506 cuisines: 148 count: 2
2948 city: 10506 cuisines: 901 count: 0
2949 city: 10506 cuisines: 149 count: 0
2950 city: 10506 cuisines: 99 count: 2
2951 city: 10506 cuisines: 25,128 count: 33
2952 city: 10506 cuisines: 121, 411 count: 0
2953 city: 10506 cuisines: 95 count: 4
2954 city: 10506 cuisines: 67 count: 1
2955 city: 10506 cuisines: 152 count: 0
2956 city: 10614 cuisines: 73,997,150 count: 447
2957 city: 10614 cuisines: 99 count: 108
2958 city: 10614 cuisines: 25,128 count: 247
2959 city: 10614 cuisines: 121, 411 count: 13

failed city query Beaverton OR

In [13]:
query_df2 = query_df[500:961]

In [14]:
query_df2

,index,zcity_id,state_code,top,city_query,state,population,cuisine_names,cuisine_id
500,456,523,CA,7,Victorville CA,CALIFORNIA,Korea,Korea,67
501,457,523,CA,8,Victorville CA,CALIFORNIA,Guatemala,Guatemala,"972,136"
502,458,523,CA,9,Victorville CA,CALIFORNIA,Iran,Iran,140
503,459,523,CA,10,Victorville CA,CALIFORNIA,Taiwan,Taiwan,190
504,460,526,CA,1,Santa Barbara CA,CALIFORNIA,Mexico,"Mexico, Taco, Tex-Mex","73,997,150"
...,...,...,...,...,...,...,...,...,...
956,880,712,IN,1,Muncie IN,INDIANA,Mexico,"Mexico, Taco, Tex-Mex","73,997,150"
957,881,712,IN,2,Muncie IN,INDIANA,India,India,148
958,882,712,IN,3,Muncie IN,INDIANA,China,"China, Sichuan","25,128"
959,882,712,IN,3,Muncie IN,INDIANA,China,"Hong Kong, Dim Sum","121, 411"
960,883,712,IN,4,Muncie IN,INDIANA,Burma,Burma,22

In [26]:
ver = pd.read_pickle('../results/city_restaurant_count1.pkl')

In [27]:
ver

,zcity_id,cuisines,json,query,counts
0,276,"73,997,150","{'results_found': 1825, 'results_start': 0, 'r...",https://developers.zomato.com/api/v2.1/search?...,1825
1,276,148,"{'results_found': 180, 'results_start': 0, 're...",https://developers.zomato.com/api/v2.1/search?...,180
2,276,601,"{'results_found': 29, 'results_start': 0, 'res...",https://developers.zomato.com/api/v2.1/search?...,29
3,276,99,"{'results_found': 176, 'results_start': 0, 're...",https://developers.zomato.com/api/v2.1/search?...,176
4,276,972,"{'results_found': 35, 'results_start': 0, 'res...",https://developers.zomato.com/api/v2.1/search?...,35
...,...,...,...,...,...
495,523,"25,128","{'results_found': 21, 'results_start': 0, 'res...",https://developers.zomato.com/api/v2.1/search?...,21
496,523,"121, 411","{'results_found': 1, 'results_start': 0, 'resu...",https://developers.zomato.com/api/v2.1/search?...,1
497,523,99,"{'results_found': 2, 'results_start': 0, 'resu...",https://developers.zomato.com/api/v2.1/search?...,2
498,523,148,"{'results_found': 2, 'results_start': 0, 'resu...",https://developers.zomato.com/api/v2.1/search?...,2
499,523,601,"{'results_found': 0, 'results_start': 0, 'resu...",https://developers.zomato.com/api/v2.1/search?...,0